body {
    font-family: tahoma,arial,helvetica,sans-serif;
    font-size: 10px;
    background-color: #FFFFFF;
}

h2 {
    text-align: center;
    color: #000000;
    font-weight: bold;
    font-size: 12px;
}

div.versioninfo {
    text-align: center;
}

div.nurc_logo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 75px;
    background: url('img/nurc-logo.png') center no-repeat;
}

div.logo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 80px;
    background: url('img/GeoExt_Logo1.png') center no-repeat;
}

div.geosolutions_logo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 70px;
    background: url('img/GeoSolutions_logo1.png') center no-repeat;
}

div.mapstore_logo {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    text-align: center;
    height: 100px;
    background: url('img/mapstore_logo.png') center no-repeat;
}

h3 {
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 0em;
    font-size: 12px;
}

a {
    display: block;
}

