/* GetFeatureInfo tools */

/*
#main {
	text-align:center;
}
table.featureInfo, table.featureInfo td, table.featureInfo th {
		border:1px solid #03084B;
		border-collapse:collapse;
		margin:0;
		padding:0;
		font-size: 90%;
		padding:.2em .1em;
}
table.featureInfo caption.featureInfo{
		  padding:.2em .2em; 
		  text-transform:uppercase;
		  color:#FFFFFF;
		  text-shadow: 2px 2px 3px #000;
		  filter:DropShadow(Color=#000000, OffX=2, OffY=2);                  
		  font-weight:bold; 
		  font-size: 12px; 
}           
table.featureInfo th{
		  border:1px solid #03084B;
		  padding:.2em .2em; 
		  text-transform:uppercase;
		  color:#0055BB; 
		  font-weight:bold; 
		  font-size: 10px; 
		  background:#CEDFF5;
}
table.featureInfo th.title{
		padding:.2em .2em;
		text-transform:uppercase;
		text-shadow: 2px 2px 3px #FFF;
		filter:DropShadow(Color=#FFFFFF, OffX=2, OffY=2);
		font-weight:bold;
		color:#030F1C;
		background:#A5A7AA;

}
table.featureInfo tr.odd td{
		text-align:left;
		font-size:10px;
		font-weight:bold;
		text-transform:lowercase;
		padding:.2em .2em;    
}
table.featureInfo td{
		text-align:left;
		font-size:10px;
		font-weight:bold;
		text-transform:lowercase;
		padding:.2em .2em;              
}  
/*
/* Vehicle selector tools */
/*
.x-grid3-row-over .x-grid3-cell-inner {
	font-weight: bold;
}

.x-action-col-cell img.not-available-col{
	height: 16px;
	width: 16px;
	background-image: url(../app/img/silk/error.png);
}

.x-action-col-cell img.available-col{
	height: 16px;
	width: 16px;
	background-image: url(../app/img/silk/accept.png);
}

.vehicle-refresh-icon{
	background-image: url(../app/img/silk/arrow_refresh.png);
}

.refresh{
	background-image: url(../app/img/silk/cancel.png);
}
		*/
/* Additional OL Styles */

.olControlMousePosition {
    top: 5px !important;
    right: 5px !important;
    font-size: 3em;
    color: lightgrey;
    height: 20px;
}

.olControl_TimeVisualization {
    top:0px;
    left:0px;
}