    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="../externals/openlayers/theme/default/style.css">

    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/gxtheme-gray.css">

    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="../externals/gxp/src/theme/all.css">

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="../theme/app/geoexplorer.css" />
    <link rel="stylesheet" type="text/css" href="../theme/app/composer.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        
    
    <script type="text/javascript" src="../script/GeoExplorer.js"></script>
    
    <!-- TimeManager OpenLayers -->
    <script type="text/javascript" src="../TimeManager_openlayers/OpenLayers/Control/TimeManager.js"></script>
    <script type="text/javascript" src="../TimeManager_openlayers/OpenLayers/TimeAgent.js"></script>
    <script type="text/javascript" src="../TimeManager_openlayers/OpenLayers/TimeAgent/WMS.js"></script>
    
    <!-- translation data  -->
    <script type="text/javascript" src="../translations/en.js"></script>

    <script>
        
        var app;

        var modified = false; var mapIdentifier; var authorization; var fullScreen;
        var uuid; var lay; var wmsurl; var bounds; var zoom; var center;

		// //////////////////////////////////////////////////
		// Parsing the request to get the parameters
		// //////////////////////////////////////////////////
        var params = location.search.replace(/^\?/,'').replace(/&amp;/g,'&').split("&");
        for (var j=0; j < params.length; j++) {
			var param = params[j].split("=");
			if(param[0]){
				switch ( param[0] ) {
					case "mapId": 
									try{
										mapIdentifier = parseInt(param[1]);
									}catch(e){
										mapIdentifier = -1;
									} 
									break;
					case "auth" : 
									if(param[1] == 'true') 
										authorization = true; 
									else 
										authorization = false; 
									break;
					case "fullScreen" : 
									if(param[1] == 'true') 
										fullScreen = true; 
									else 
										fullScreen = false; 
									break;
		            case "layer" : 
		                            lay = param[1]; 
		                            break;
		            case "wmsurl" : 
		                            wmsurl = param[1]; 
		                            wmsurl = decodeURIComponent(wmsurl);
		                            break;
		            case "uuid" : 
		                            uuid = param[1]; 
		                            break;
					case "bounds":
									bounds = param[1].split(',');
									break;
					case "zoom":
									zoom = param[1];
									break;
					case "center":
									center = param[1].split(',');
									break;
					default :       
									mapIdentifier = -1;
									authorization = false;
									fullScreen = false; 
				}
			}
        }

		// set default values for params
		if (!bounds){
			bounds = [ "-20037508.34", "-20037508.34", "20037508.34", "20037508.34" ];
		} 
		if (!zoom){
			zoom = 5;
		} 
		if (!center){
			center = [ "1406441.320251", "5523033.9150049"];
		}
		
		// ///////////////////////////////////////////////////////////////
		// Custom variables from the urlConfig user configuration file 
		// ///////////////////////////////////////////////////////////////
        var proxy; 
        var geoStoreBaseURL;        
        var customSources;
        //var gnLangStr;
        var gnBaseUrl;
        
        var onReady = function(){

            Ext.BLANK_IMAGE_URL = (function() {
                    if (Ext.isIE8 || Ext.isGecko || Ext.isOpera || Ext.isChrome) {
                        return "data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
                    } else {
                        return "theme/app/img/blank.gif";
                    }
            })();

            OpenLayers.ImgPath = "../externals/openlayers/theme/default/img/";

            gxp.plugins.ZoomToExtent.prototype.closest = false;
                        
            Ext.ux.IFrameComponent = Ext.extend(Ext.BoxComponent, {
                 onRender : function(ct, position){
                      this.el = ct.createChild({
                        tag: 'iframe',
                        id: 'iframe-'+ this.id,
                        frameBorder: 0, 
                        src: this.url
                      });
                 }
            });
            
			// //////////////////////////////////////////////////////            
            // Setting the locale based on query string parameter
            // //////////////////////////////////////////////////////
            var query = location.search;        
            if(query && query.substr(0,1) === "?"){
                query = query.substring(1);
            }

            var url = Ext.urlDecode(query);
            var code = url.locale || 'en';
            var langData = [['en', 'English']];

            // //////////////////////////////////////////////////        
            // Setting the initial language for the selector
            // //////////////////////////////////////////////////
			var initialLanguageString;					
			Ext.each(langData, function(rec){
				if(rec[0] === code.toLowerCase()){
					initialLanguageString = rec[1];
					return;
				}
			});
			
			initialLanguageString = !initialLanguageString ? "English" : initialLanguageString;	
			
			// ////////////////////////////////////////////////////
			// Setting the language code for the GeoExt tools
			// ////////////////////////////////////////////////////
			if (GeoExt.Lang) {
                GeoExt.Lang.set(code);
            }
			
            var languageSelector = new Ext.form.ComboBox({
                store: new Ext.data.ArrayStore({
                    fields: ['code', 'name'],
                    data :  langData
                }),
                displayField: 'name',
                typeAhead: true,
                mode: 'local',
                forceSelection: true,
                triggerAction: 'all',
                emptyText: initialLanguageString,
                selectOnFocus:false,
                editable: false,
                width: 100,
                listeners: {
                    beforeselect: function(cb, record, index){
					   var c = record.get('code');
                       if(c && c == code)
                          return false; 
					   else
						  languageSelector.prevLang = code;
                    },                    
                    select: function(cb, record, index) {         
                        
                        var switchLang = function(buttonId, text, opt){
                            if(buttonId === 'ok'){
                                var c = record.get('code');
								var u = location.pathname + '?locale=' + c;
								
								if(url.auth){
									u += '&auth=' + url.auth;
									if(url.auth == 'false')
										u += '&fullScreen=true';
								}
								
								if(url.mapId)
									u += '&mapId=' + url.mapId;
								
								location.replace(u);                                
                            }else{																
                                if(languageSelector.prevLang && languageSelector.prevLang == 'fr'){
                                    cb.setValue('Français');
                                }else if(languageSelector.prevLang && languageSelector.prevLang == 'it'){
									cb.setValue('Italiano');
								}else{
                                    cb.setValue('English');
                                }
                            }
                        };
                        
                        var switchLangActionTip = "Switch Language";
                        var switchLangConfirmationText = "You are sure to change language? All unsaved data will be lost";
                        
                        if(code === 'fr'){
                            switchLangActionTip = "Changement de langue";
                            switchLangConfirmationText = "Vous êtes certain que vous souhaitez modifier la langue ? toutes les données non enregistrées seront a perdu";
                        }else if(code === 'it'){
                            switchLangActionTip = "Cambiamento Lingua";
                            switchLangConfirmationText = "Si è sicuri di voler cambiare lingua? I dati non salvati saranno persi";
                        }
                        
                        Ext.Msg.show({
                           title: switchLangActionTip,
                           msg: switchLangConfirmationText,
                           buttons: Ext.Msg.OKCANCEL,
                           fn: switchLang,
                           icon: Ext.MessageBox.QUESTION
                        });  
                    }
                }
            });

        gnBaseUrl = 'http://159.213.57.108/geonetwork/';
		gnLangStr = code;
        var gnURL = gnBaseUrl + 'srv/' + gnLangStr + '/main.home';
		
        //var gpURL = 'http://geoportale.lamma.rete.toscana.it';

            //
            //Pannello per Geonetwork Consorzio LaMMA
            //
            var geonetworkPanel = new Ext.Panel({
                id: 'geonetworkPanel',
                title: GeoExplorer.prototype.searchTabTitle || 'Portale',
                layout:'fit', 
                items: [ 
                    new Ext.ux.IFrameComponent({ 
                        id: 'gn-panel',
                        url: gnURL 
                    }) 
                ]
            });

            /*
            //
            //Pannello per Geoportale Consorzio LaMMA
            //
            var geoportalPanel = new Ext.Panel({
                id: 'geoportalPanel',
                title: GeoExplorer.prototype.portalTabTitle || 'Geoportal',
                layout:'fit', 
                items: [ 
                    new Ext.ux.IFrameComponent({ 
                        id: 'gp-panel',
                        url: gpURL
                    }) 
                ]
            });
			*/

            var appTabs = new Ext.Panel({
                //items: [geoportalPanel,geonetworkPanel],
                // items: [geonetworkPanel],
                region: 'center',
                border : false,
				layout: 'fit',
                id : 'appTabs'
            });
        
        //
        //Combobox per la selezione del modello per Geoportale Consorzio LaMMA
        //

        // proxy to search categories in geostore
        var proxyCategory =  new Ext.data.HttpProxy({
            url: "http://159.213.57.108/geostore/rest/categories/",
            restful: true,
            method : 'POST',
            disableCaching: true,
            timeout: 30000,
            success: function (result){
            },
            failure: function (result) {
                Ext.Msg.show({
                    title: "Error",
                    msg: "An error occurred during the search of categories: " + result.status,
                    buttons: Ext.Msg.OK,
                    icon: Ext.MessageBox.ERROR
                });
            },
            defaultHeaders: {'Accept': 'text/xml', 'Content-Type': 'text/xml'}
        });
        
        // store to read categories in geostore
        var storeCategory = new Ext.data.Store({
            proxy: proxyCategory,
            reader: new Ext.data.XmlReader({
                id: 'storeCategory_id',
                record: "Category"
            }, [{
                name: 'id',
                type: 'int'
            }, {
                name: 'name',
                type: 'string'
            }])
        });
        
        // combo for select categories
        var comboModels = new Ext.form.ComboBox({
                                id: 'comboModel',
                                triggerAction: 'all',
                                store: storeCategory,
                                mode: 'remote',
                                displayField: 'name',
                                //fieldLabel: 'Seleziona un Modello',
                                valueField: 'name',
                                listClass: 'x-combo-list-small',
                                resizable: true,
                                typeAhead: true,
                                emptyText:'Seleziona un Modello',
                                selectOnFocus:true,
                                listeners: { 
                                    select: function(combo, record, index) {
                                        comboRuns.setValue('');
                                        comboRuns.enable();
                                        comboRuns.getStore().reload();
                                    }
                                }
                            });
        
        // proxy to search resources in geostore
        var proxyResource =  new Ext.data.HttpProxy({
            url: getUrl(comboModels.getValue()),
            restful: true,
            method : 'POST',
            disableCaching: true,
            timeout: 30000,
            success: function (result){
            },
            failure: function (result) {
                Ext.Msg.show({
                    title: "Error",
                    msg: "An error occurred during the search of resources: " + result.status,
                    buttons: Ext.Msg.OK,
                    icon: Ext.MessageBox.ERROR
                });
            },
            defaultHeaders: {'Accept': 'text/xml', 'Content-Type': 'text/xml'}
        });
        
        // store to read resources in geostore
        var storeResource = new Ext.data.Store({
            proxy: proxyResource,
            reader: new Ext.data.XmlReader({
                id: 'storeResource_id',
                record: "Resource"
            }, [{
                name: "id",
                type: "int"
            },{
                name: "name",
                type: "string"
            },{
                name: "owner",
                type: "string"
            },{
                name: "description",
                type: "string"
            },{
                name: "creation",
                type: "date",
                dateFormat: 'c'
            },{
                name: "lastUpdate",
                type: "date",
                dateFormat: 'c'
            },{
                name: "canEdit",
                type: "boolean"
            },{
                name: "canDelete",
                type: "boolean"
            }]),
            listeners:{
                beforeload:function(store, options){
                    store.proxy.setUrl(getUrl(comboModels.getValue()));
                },
                scope: this
            }
        });
        
        // method to dinamically search resource in geostore
        function getUrl(srcStr) {
            var r = 'http://159.213.57.108/geostore/rest/misc/category/name/' + comboModels.getValue() + '/resources/';
            return r;
        };

        // combo for select resources and loadUserConfig
        var comboRuns = new Ext.form.ComboBox({
                                id: 'comboRuns',
                                triggerAction: 'all',
                                store: storeResource,
                                mode: 'remote',
                                displayField: 'name',
                                //fieldLabel: 'Seleziona un Modello',
                                valueField: 'id',
                                listClass: 'x-combo-list-small',
                                disabled: true,
                                resizable: true,
                                emptyText:'Seleziona un giorno',
                                selectOnFocus:true,
                                listeners: { 
                                    select: function(combo, record, index) {
                                        mapId = comboRuns.getValue();
                                        var pattern=/(.+:\/\/)?([^\/]+)(\/.*)*/i;
                                        var mHost=pattern.exec(geoStoreBaseURL);

                                        var mUrl = geoStoreBaseURL + "data/" + mapId;
                                        Ext.Ajax.request({
                                           url: mHost[2] == location.host ? mUrl : proxy + mUrl,
                                           //url: geoStoreBaseURL + "data/" + this.mapId,
                                           method: 'GET',
                                           scope: this,
                                           headers:{
                                              'Accept': "application/json"
                                           },
                                           success: function(response, opts){  
                                                app.loadUserConfig(response.responseText);
                                           },
                                           failure: function(response, opts){
                                              Ext.Msg.show({
                                                    title: "Startup",
                                                    msg: "An error occurred while try to update config: " + response.status,
                                                    buttons: Ext.Msg.OK,
                                                    icon: Ext.MessageBox.ERROR
                                              });
                                           }
                                        });
                                    }
                                }
                            });

            var aboutButton = new Ext.Button({
                text: GeoExplorer.prototype.appInfoText,
                iconCls: "icon-geoexplorer",
                handler: function(){
                    var appInfo = new Ext.Panel({
                        header: false,
                        html: "<iframe style='border: none; height: 100%; width: 100%' src='../about.html' frameborder='0' border='0'><a target='_blank' href='../about.html'>" + GeoExplorer.prototype.aboutText+"</a> </iframe>"
                    });

                    var win = new Ext.Window({
                        title:  GeoExplorer.prototype.aboutThisMapText,
                        modal: true,
                        layout: "fit",
                        width: 355,
                        height: 368,
                        items: [appInfo]
                    });
                    
                    win.show();
                }
            });
            
            /*var poweredByGeoSol = new Ext.Button({
                tooltip: 'Powered by GeoSolutions',
                iconCls: "icon-geosol",
                width : 150,
                handler: function(btn){
                    window.open('http://geo-solutions.it/contact/', '_blank');
                }
            }); */   
        

            var appViewport = new Ext.Viewport({
                id: 'appVieport',
                layout: 'border',
                margins: '0 0 0 0 ',
                items: [{
                        region: 'north',
                        border: false,
                        height: 75,
                        hideCollapseTool: true,
                        collapsible : true,
                        collapsed: false,
                        collapseMode: 'mini',
                        split: true,
                        /*html: '<a href="http://www.lamma.rete.toscana.it" target="_blank" title="Consorzio LaMMA Home page"><img style="position:absolute; left:0px; z-index:1000" src="http://geoportale.lamma.rete.toscana.it/bd_geo/logo.png" height="100%"/></a>',*/
					    /* html: '<img style="position:absolute; left:0px; z-index:1000" src="../theme/app/img/nurc.gif" height="100%"/>',*/
	 				html:'<font color="white" size="16">Informational Page</font>',
                        bodyStyle: 'padding:0px;background-color: #0055bb;'
                        // tbar: [comboModels,comboRuns]
                    },{
                        region : 'center',
                        layout : 'border',
                        border : false,
                        header : false,                    
                        items : [appTabs],                            
                        bbar : [
                          /*poweredByGeoSol, ' ', aboutButton, '->',languageSelector*/
                        ]
                    }]
            });
            
            //
            // Parsing WMS servers Sources for getCapabilities operation
            //
            var sources = "{" + 
                "\"Gliders\": {" +
                        "\"ptype\": \"gxp_wmssource\"," +
                        "\"title\": \"Gliders\"," +
                        "\"url\":\"http://84.33.199.62/geoserver-gliders/ows\"" +
                "}," +            
                "\"mapquest\": {" +
                    "\"ptype\": \"gxp_mapquestsource\"" +
                "}," + 
                "\"osm\": {" + 
                    "\"ptype\": \"gxp_osmsource\"" +
                "}," +
                "\"google\": {" +
                    "\"ptype\": \"gxp_googlesource\"" + 
                "}," +
                "\"bing\": {" +
                    "\"ptype\": \"gxp_bingsource\"" + 
                "}," + 
                "\"ol\": {" + 
                    "\"ptype\": \"gxp_olsource\"" + 
                "}"; 
            
            if(customSources.length > 0)
                sources += ",";
                
            for(var s=0; s<customSources.length; s++){ 
                var src = Ext.util.JSON.encode(customSources[s]);
                sources += "\"source" + s + "\":" + src;
                //sources += "\"source" + s + "\":" + JSON.stringify(customSources[s]);
                 
                 if(s + 1 < customSources.length)
                    sources += ",";
            }
             
            sources +="}";

            try{
                sources = Ext.util.JSON.decode(sources);
            }catch(e){
                sources = {
                    mapquest: {
                        ptype: "gxp_mapquestsource"
                    },
                    osm: {
                        ptype: "gxp_osmsource"
                    },
                    google: {
                        ptype: "gxp_googlesource"
                    },
                    bing: {
                        ptype: "gxp_bingsource"
                    },
                    ol: {
                        ptype: "gxp_olsource"
                    },
                    LaMMA_Stazioni:{
                        ptype: "gxp_wmssource",
                        layerBaseParams:{
                            TILED:false,
                            TILESORIGIN: "-20037508.34,-20037508.34"
                        },
                        url:"http://159.213.57.108/geoserver/ows?namespace=lamma_stazioni"
                    }
                };
          
                Ext.Msg.show({
                      title: "Startup",
                      msg: "An error occurred while parsing the CUSTOM GeoServer sources",
                      buttons: Ext.Msg.OK,
                      icon: Ext.MessageBox.ERROR
                });
            }

			// prepare layer where users draw custom features
			var drawingLayer = new OpenLayers.Layer.Vector('Custom feature layer', {
				projection: new OpenLayers.Projection("EPSG:4326")
			});
			
			var notesLayer = new OpenLayers.Layer.Vector('Pilot notes Layer', {
				projection: new OpenLayers.Projection("EPSG:4326"),
				styleMap: new OpenLayers.StyleMap({
				        "default": new OpenLayers.Style({
				            strokeColor: "red",
				            strokeOpacity: .7,
				            strokeWidth: 2,
				            fillColor: "red",
				            fillOpacity: 0,
				            cursor: "pointer"
				        }),
				        "temporary": new OpenLayers.Style({
				            strokeColor: "#ffff33",
				            strokeOpacity: .9,
				            strokeWidth: 2,
				            fillColor: "#ffff33",
				            fillOpacity: .3,
				            cursor: "pointer"
				        }),
				        "select": new OpenLayers.Style({
				            strokeColor: "#0033ff",
				            strokeOpacity: .7,
				            strokeWidth: 3,
				            fillColor: "#0033ff",
				            fillOpacity: 0,
				            graphicZIndex: 2,
				            cursor: "pointer"
				        })
				    })
			});
                                    
            app = new GeoExplorer.Composer({
				drawingLayer: drawingLayer,
				notesLayer: notesLayer,
                modified: false,
                proxy: proxy,
                // xmlJsonTranslateService: "http://localhost:8080/xmlJsonTranslate/", // test
				xmlJsonTranslateService: 'http://84.33.199.62/xmlJsonTranslate-gliders/',  // prod
                defaultSourceType: "gxp_wmssource",
                renderToTab : 'appTabs',
                range: ['2010-08-20T10:02:29.000Z','2010-09-02T15:43:43.000Z'],
                timespans: ['2010-08-20T10:02:29.000Z/2010-09-02T15:43:43.000Z/P1W6DT5H41M14S'],                
                about: {
                    title: "Custom Map",
                    'abstract': "Custom Map",
                    contact: "<a href='#'>#</a>."
                },
                sources: sources,
                map: {
                    projection: "EPSG:900913",
                    units: "m",
                    /*maxExtent: [
                        -20037508.34, -20037508.34,
                        20037508.34, 20037508.34
                    ],*/
					maxExtent: [
                        parseFloat(bounds[0]), parseFloat(bounds[1]),
                        parseFloat(bounds[2]), parseFloat(bounds[3])
                    ],
                    layers: [
                    {
                        source: "bing",
                        title: "Bing Aerial",
                        name: "Aerial",
                        group: "background"
                    },{
                        source: "osm",
                        title: "Open Street Map",
                        name: "mapnik",
                        group: "background"
                    },{
                        source: "mapquest",
                        title: "MapQuest OpenStreetMap",
                        name: "osm",
                        group: "background"
                    },{
                        source: "google",
                        title: "Google Roadmap",
                        name: "ROADMAP",
                        group: "background"
                    },{
                        source: "google",
                        title: "Google Hybrid",
                        name: "HYBRID",
                        group: "background"
                    },{
                        source: "google",
                        title: "Google Terrain",
                        name: "TERRAIN",
                        group: "background"
                    },{
                       format:"image/png",
                       group:"Zoe",
                       name:"it.geosolutions:GlidersNextWpts",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"NextWPT",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'zoe'"
                    },{
                       format:"image/png",
                       group:"Zoe",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"WaterCurrent",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'zoe' AND type = 'WaterCurrent'"
                    },{
                       format:"image/png",
                       group:"Zoe",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"CurrentTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'zoe' AND type = 'CurrentTrack'"
                    },{
                       format:"image/png",
                       group:"Zoe",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"OldTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'zoe' AND type = 'OldTracks'"
                    },{
                       format:"image/png",
                       group:"Zoe",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Abort",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'zoe' AND type = 'Abort'"
                    },{
                       format:"image/png",
                       group:"Zoe",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Points",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'zoe' AND type = 'Points'"
                    },{
                       format:"image/png",
                       group:"Sophie",
                       name:"it.geosolutions:GlidersNextWpts",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"NextWPT",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'sophie'"
                    },{
                       format:"image/png",
                       group:"Sophie",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"WaterCurrent",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'sophie' AND type = 'WaterCurrent'"
                    },{
                       format:"image/png",
                       group:"Sophie",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"CurrentTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'sophie' AND type = 'CurrentTrack'"
                    },{
                       format:"image/png",
                       group:"Sophie",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"OldTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'sophie' AND type = 'OldTracks'"
                    },{
                       format:"image/png",
                       group:"Sophie",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Abort",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'sophie' AND type = 'Abort'"
                    },{
                       format:"image/png",
                       group:"Sophie",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Points",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'sophie' AND type = 'Points'"
                    },{
                       format:"image/png",
                       group:"Natalie",
                       name:"it.geosolutions:GlidersNextWpts",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"NextWPT",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'natalie'"
                    },{
                       format:"image/png",
                       group:"Natalie",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"WaterCurrent",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'natalie' AND type = 'WaterCurrent'"
                    },{
                       format:"image/png",
                       group:"Natalie",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"CurrentTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'natalie' AND type = 'CurrentTrack'"
                    },{
                       format:"image/png",
                       group:"Natalie",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"OldTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'natalie' AND type = 'OldTracks'"
                    },{
                       format:"image/png",
                       group:"Natalie",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Abort",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'natalie' AND type = 'Abort'"
                    },{
                       format:"image/png",
                       group:"Natalie",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Points",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'natalie' AND type = 'Points'"
                    },{
                       format:"image/png",
                       group:"Laura",
                       name:"it.geosolutions:GlidersNextWpts",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"NextWPT",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'laura'"
                    },{
                       format:"image/png",
                       group:"Laura",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"WaterCurrent",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'laura' AND type = 'WaterCurrent'"
                    },{
                       format:"image/png",
                       group:"Laura",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"CurrentTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'laura' AND type = 'CurrentTrack'"
                    },{
                       format:"image/png",
                       group:"Laura",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"OldTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'laura' AND type = 'OldTracks'"
                    },{
                       format:"image/png",
                       group:"Laura",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Abort",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'laura' AND type = 'Abort'"
                    },{
                       format:"image/png",
                       group:"Laura",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Points",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'laura' AND type = 'Points'"
                    },{
                       format:"image/png",
                       group:"Greta",
                       name:"it.geosolutions:GlidersNextWpts",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"NextWPT",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'greta'"
                    },{
                       format:"image/png",
                       group:"Greta",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"WaterCurrent",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'greta' AND type = 'WaterCurrent'"
                    },{
                       format:"image/png",
                       group:"Greta",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"CurrentTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'greta' AND type = 'CurrentTrack'"
                    },{
                       format:"image/png",
                       group:"Greta",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"OldTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'greta' AND type = 'OldTracks'"
                    },{
                       format:"image/png",
                       group:"Greta",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Abort",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'greta' AND type = 'Abort'"
                    },{
                       format:"image/png",
                       group:"Greta",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Points",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'greta' AND type = 'Points'"
                    },{
                       format:"image/png",
                       group:"Elettra",
                       name:"it.geosolutions:GlidersNextWpts",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"NextWPT",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'elettra'"
                    },{
                       format:"image/png",
                       group:"Elettra",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"WaterCurrent",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'elettra' AND type = 'WaterCurrent'"
                    },{
                       format:"image/png",
                       group:"Elettra",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"CurrentTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'elettra' AND type = 'CurrentTrack'"
                    },{
                       format:"image/png",
                       group:"Elettra",
                       name:"it.geosolutions:GlidersTracks",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"OldTrack",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'elettra' AND type = 'OldTracks'"
                    },{
                       format:"image/png",
                       group:"Elettra",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Abort",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'elettra' AND type = 'Abort'"
                    },{
                       format:"image/png",
                       group:"Elettra",
                       name:"it.geosolutions:GlidersPoints",
                       opacity:1.0,
                       selected:false,
                       source:"Gliders",
                       title:"Points",
                       transparent:true,
                       visibility:true,
                       ratio:1,
                       cql_filter: "cruise_name = 'Rep10' AND glider_name = 'elettra' AND type = 'Points'"
                    }],
                    center: [parseFloat(center[0]), parseFloat(center[1])],
                    zoom: parseInt(zoom)
                }
            }, mapIdentifier, authorization, fullScreen);   

			

            
            app.on({
                'portalready' : function(){
                    if(fullScreen){
                        var ovestPanel = Ext.getCmp('tree').findParentByType('panel');
                        ovestPanel.setDisabled();
                        ovestPanel.hide();
                        ovestPanel.collapse();
                    }

				
                    //
                    // Visualizing metadata tab and layer at startup
                    //
                    
                    if(lay && wmsurl && gnBaseUrl && uuid)
                    addMSLayer(lay, uuid, gnBaseUrl, wmsurl, false);
                
                    if(lay && gnBaseUrl && uuid){
                        app.viewMetadata(gnBaseUrl + "srv/" + gnLangStr + "/", uuid, lay);
                        appTabs.setActiveTab(2);	
                    }
                }    
            });

            addMSLayerRecord = function(source, sourceId, msLayerName, msLayerUUID, gnUrl, enableViewTab){
				  var record = source.createLayerRecord({
					name: msLayerName,
					title: msLayerName,
					uuid : msLayerUUID,
					gnURL: gnUrl + "srv/" + gnLangStr + "/",
					source: sourceId
				  });   
						  
				  if (record) {
					var layerStore = app.mapPanel.layers;  
					layerStore.add([record]);

					modified = true;
                                        
                    if(enableViewTab){
                        appTabs.setActiveTab(1);
                    }
					
					//
					// Zoom To Layer extent
					//
					var layer = record.get('layer');
					var extent = layer.restrictedExtent || layer.maxExtent || app.mapPanel.map.maxExtent;
					var map = app.mapPanel.map;
					
					map.addLayer( drawingLayer );

					// respect map properties
					var restricted = map.restrictedExtent || map.maxExtent;
					if (restricted) {
						extent = new OpenLayers.Bounds(
							Math.max(extent.left, restricted.left),
							Math.max(extent.bottom, restricted.bottom),
							Math.min(extent.right, restricted.right),
							Math.min(extent.top, restricted.top)
						);
					}

					map.zoomToExtent(extent, true);
				  }
            };

            checkLayerSource = function(wmsURL){

                var source;
				for (var id in app.layerSources) {
					  var src = app.layerSources[id];    
					  var url  = src.initialConfig.url; 
					  //
					  // Checking if source URL aldready exists
					  //
					  if(url && url.indexOf(wmsURL) != -1){
						  source = src;
						  break;
					  }
				} 

                return source;
            };
            
            addMSLayer = function(msLayerName, msLayerUUID, gnUrl, wmsURL, enableViewTab){		

                var source = checkLayerSource(wmsURL);

				if(source){
					addMSLayerRecord(source, source.id, msLayerName, msLayerUUID, gnUrl, enableViewTab);
				}else{
					var mask = new Ext.LoadMask(Ext.getBody(), {msg:"Attendere prego..."});
					mask.show();

					var sourceOpt = {
						config: {
						  url: wmsURL
						}
					};
				  
					source = app.addLayerSource(sourceOpt);
				  
					//
					// Waiting GetCapabilities response from the server.
					//
					source.on('ready', function(){ 
						mask.hide();
						addMSLayerRecord(source, source.id, msLayerName, msLayerUUID, gnUrl, enableViewTab);
					});
				  
					//
					// To manage failure in GetCapabilities request (invalid request url in 
					// GeoNetwork configuration or server error).
					//
					source.on('failure', function(src, msg){		          
						 mask.hide();
						 
						 Ext.Msg.show({
							 title: 'GetCapabilities',
							 msg: msg + " Il layer non può essere aggiunto alla mappa",
							 width: 300,
							 icon: Ext.MessageBox.ERROR
						 });  
					 });
				}
            }; 

	        addMSSource = function(wmsURL){		  
                var source = checkLayerSource(wmsURL);

				if(!source){
                      var mask = new Ext.LoadMask(Ext.getBody(), {msg:"Attendere prego..."});
                      mask.show();

					  var sourceOpt = {
						  config: {
							  url: wmsURL
						  }
					  };
					  
					  source = app.addLayerSource(sourceOpt);
					  
					  //
					  // Waiting GetCapabilities response from the server.
					  //
					  source.on('ready', function(){ 
						  mask.hide();
					  });
					  
					  //
					  // To manage failure in GetCapabilities request (invalid request url in 
					  // GeoNetwork configuration or server error).
					  //
					  source.on('failure', function(src, msg){		          
						  mask.hide();
						  
						  Ext.Msg.show({
							  title: 'GetCapabilities',
							  msg: msg + " Il layer non può essere aggiunto alla mappa",
							  width: 300,
							  icon: Ext.MessageBox.ERROR
						  });  
					  });
				}
			}
      };			
			
      Ext.Ajax.request({
		  // url: "/MapStore/urlConfig.js",
          url: "/MapStore-gliders/urlConfig.js", //TEST
          // url: "/urlConfig.js", //TEST
          method: 'GET',
          success: function(response, opts){      
              var serverConfig;    
              
              try{
                  serverConfig = Ext.util.JSON.decode(response.responseText);
				  // console.log(serverConfig);
              }catch(e){
                  Ext.Msg.show({
                        title: "Startup",
                        msg: "An error occurred while parsing the GeoStore URL config: " + response.status,
                        buttons: Ext.Msg.OK,
                        icon: Ext.MessageBox.ERROR
                  });
              }
              
              if(serverConfig){
                  proxy = serverConfig.proxy; 
                  geoStoreBaseURL = serverConfig.geoStoreBase;                  
                  customSources = serverConfig.gsSources;

                  //      
                  // Run the application when browser is ready
                  //
                  Ext.onReady(onReady);
              }
          },
          failure:  function(response, opts){
              Ext.Msg.show({
                    title: "Startup",
                    msg: "An error occurred while getting the GeoStore URL config: " + response.status,
                    buttons: Ext.Msg.OK,
                    icon: Ext.MessageBox.ERROR
              });
          }
      });
        
    </script>