    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="../externals/openlayers/theme/default/style.css">

    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/gxtheme-gray.css">

    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="../externals/gxp/src/theme/all.css">

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="../theme/app/geoexplorer.css" />
    <link rel="stylesheet" type="text/css" href="../theme/app/composer.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        
    
    <script type="text/javascript" src="../script/GeoExplorer.js"></script>
    
    <!-- translation data  -->
    <script type="text/javascript" src="../translations/en.js"></script>


	<style>
	    .olControlMousePosition {
	        top: 5px !important;
	        right: 5px !important;
			font-size: 3em;
            color: lightgrey;
	    }
	
	    .olControl{
			bottom:0px;
			left:0px;
		}
	

	</style>

    <script>
	    //
		// fix for IE7 and IE8
		//
		if (!Date.prototype.toISOString) {
		    Date.prototype.toISOString = function() {
		        function pad(n) { return n < 10 ? '0' + n : n }
		        return this.getUTCFullYear() + '-'
		            + pad(this.getUTCMonth() + 1) + '-'
		            + pad(this.getUTCDate()) + 'T'
		            + pad(this.getUTCHours()) + ':'
		            + pad(this.getUTCMinutes()) + ':'
		            + pad(this.getUTCSeconds()) + 'Z';
		    };
		}
        
        var app;
        var serverConfig;
        var modified = false; var mapIdentifier; var authorization; var fullScreen;
        var uuid; var lay; var wmsurl; var bounds; var maxExtent; var zoom; var center; var config;
		var startTime; var endTime; var timeUnit; var currentTime;
        var cruiseName; var vehicles;
		
		// //////////////////////////////////////////////////
		// Parsing the request to get the parameters
		// //////////////////////////////////////////////////
		
        var params = location.search.replace(/^\?/,'').replace(/&amp;/g,'&').split("&");
        for (var j=0; j < params.length; j++) {
			var param = params[j].split("=");
			if(param[0]){
				switch ( param[0] ) {
					case "vehicles":
							vehicles = decodeURIComponent(param[1]).split(',');
                    		break;
                    case "cruiseName":
                                    cruiseName = decodeURIComponent(param[1]);
                                    break;
					case "mapId": 
									try{
										mapIdentifier = parseInt(param[1]);
									}catch(e){
										mapIdentifier = -1;
									} 
									break;
					case "auth" : 
									if(param[1] == 'true') 
										authorization = true; 
									else 
										authorization = false; 
									break;
					case "fullScreen" : 
									if(param[1] == 'true') 
										fullScreen = true; 
									else 
										fullScreen = false; 
									break;
		            case "layer" : 
		                            lay = param[1]; 
		                            break;
		            case "wmsurl" : 
		                            wmsurl = param[1]; 
		                            wmsurl = decodeURIComponent(wmsurl);
		                            break;
		            case "uuid" : 
		                            uuid = param[1]; 
		                            break;
					case "bounds":
									bounds = param[1].split(',');
									break;
					case "zoom":
									zoom = param[1];
									break;
					case "center":
									center = param[1].split(',');
									break;
					case "startTime":
									startTime = param[1];
									break;
					case "endTime":
									endTime = param[1];
									break;
					case "timeUnit":
									timeUnit = param[1];
									break;
					case "currentTime":
									currentTime = param[1];
									break;
					default :       
									mapIdentifier = -1;
									authorization = false;
									fullScreen = false; 
				}
			}
        }		
		
		// ///////////////////////////////////////////////////////////////
		// Custom variables from the urlConfig user configuration file 
		// ///////////////////////////////////////////////////////////////
        var proxy; 
        var geoStoreBaseURL;        
        var customSources;
        var gnBaseUrl;
        
        var onReady = function(){
		    //
            // set default values for params
            //
			if (!bounds){
                if(serverConfig.bounds){
                    bounds = serverConfig.bounds;
                }else{
                    bounds = [ "-180","-90","180","90"];
                }
            } 
			
			if (!maxExtent){
                if(serverConfig.maxExtent){
                    maxExtent = serverConfig.maxExtent;
                }else{
                    maxExtent = [ "-180","-90","180","90"];
                }
            } 
			
            if (!zoom){
                if(serverConfig.zoom){
                    zoom =serverConfig.zoom;
                }else{
                    zoom = 8;
                }
            } 
			
            if (!center){
                if(serverConfig.center){
                    center =serverConfig.center;
                }else{
                    center= ["9.8272705078125","43.599243164063"];
                }
            }

            if (!startTime){
                if(serverConfig.startTime){
                    startTime =serverConfig.startTime
                }else{
                    startTime = '2010-08-20T10:02:29.000Z';
                }
            }
			
            if (!endTime){
                if(serverConfig.endTime){
                    endTime =serverConfig.endTime
                }else{
                    endTime = '2010-09-02T15:43:43.000Z';
                }
            }
			
            if (!timeUnit){
                timeUnit = OpenLayers.TimeUnit.MINUTES;
            }
			
            if (!currentTime){
                currentTime='2010-08-20T10:02:29.000Z';
            }
			
            if(!cruiseName){
                cruiseName = "NOMR12";
            }
			
			if (!vehicles){
				if(serverConfig.vehicles){
                    vehicles = serverConfig.vehicles
                }else{
                    vehicles = ["greta", "elettra", "zoe", "laura", "sophie", "natalie", "noa"];
                }
			}
			
            /*Ext.BLANK_IMAGE_URL = (function() {
                    if (Ext.isIE8 || Ext.isGecko || Ext.isOpera || Ext.isChrome) {
                        return "data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
                    } else {
                        return "theme/app/img/blank.gif";
                    }
            })();*/

            OpenLayers.ImgPath = "../externals/openlayers/theme/default/img/";

            gxp.plugins.ZoomToExtent.prototype.closest = false;
                        
            Ext.ux.IFrameComponent = Ext.extend(Ext.BoxComponent, {
                 onRender : function(ct, position){
                      this.el = ct.createChild({
                        tag: 'iframe',
                        id: 'iframe-'+ this.id,
                        frameBorder: 0, 
                        src: this.url
                      });
                 }
            });
            
            var appTabs = new Ext.Panel({
                region: 'center',
                border : false,
				layout: 'fit',
                id : 'appTabs'
            });
        
    
 
            var appViewport = new Ext.Viewport({
                id: 'appVieport',
                layout: 'border',
                margins: '0 0 0 0 ',
                items: [{
	                    id:'main-header',
                        region: 'north',
                        border: false,
                        height: 75,
                        hideCollapseTool: true,
                        collapsible : true,
                        collapsed: false,
                        collapseMode: 'mini',
                        split: true,
					    html: '<img style="position:absolute; left:0px; z-index:1000" src="../theme/app/img/header_InfoPage.png" height="100%"/><div style= "loat:right;text-align:right"><h1 style="color:white">'+/*cruiseName+*/'</h1></div>',
                        bodyStyle: 'padding:0px;background-color: #0055bb;'
                    },{
                        region : 'center',
                        layout : 'border',
                        border : false,
                        header : false,                    
                        items : [appTabs]
                    }]
            });
            
     
            var sources = customSources;

			//
			// prepare layer where users draw custom features
			//
			var drawingLayer = new OpenLayers.Layer.Vector('Custom feature layer', {
				projection: new OpenLayers.Projection("EPSG:4326")
			});
			
			var notesLayer = new OpenLayers.Layer.Vector('Pilot notes Layer', {
				projection: new OpenLayers.Projection("EPSG:4326"),
				styleMap: new OpenLayers.StyleMap({
				        "default": new OpenLayers.Style({
				            strokeColor: "red",
				            strokeOpacity: .7,
				            strokeWidth: 2,
				            fillColor: "red",
				            fillOpacity: 0,
				            cursor: "pointer"
				        }),
				        "temporary": new OpenLayers.Style({
				            strokeColor: "#ffff33",
				            strokeOpacity: .9,
				            strokeWidth: 2,
				            fillColor: "#ffff33",
				            fillOpacity: .3,
				            cursor: "pointer"
				        }),
				        "select": new OpenLayers.Style({
				            strokeColor: "#0033ff",
				            strokeOpacity: .7,
				            strokeWidth: 3,
				            fillColor: "#0033ff",
				            fillOpacity: 0,
				            graphicZIndex: 2,
				            cursor: "pointer"
				        })
				    })
			});
            
            app = new GeoExplorer.Composer({
				refreshTimeInterval: 10000, // msec
				config:config,
				drawingLayer: drawingLayer,
				notesLayer: notesLayer,
				vehicles: vehicles,
				cruiseName: cruiseName,
                modified: false,
                proxy: proxy,
                // xmlJsonTranslateService: "http://localhost:8080/xmlJsonTranslate/", // test
				xmlJsonTranslateService: 'http://84.33.199.62/xmlJsonTranslate-gliders/',  // prod
                defaultSourceType: "gxp_wmssource",
                renderToTab : 'appTabs',
                units: timeUnit,
                range: [startTime,endTime],
                about: {
                    title: "Custom Map",
                    'abstract': "Custom Map",
                    contact: "<a href='#'>#</a>."
                },
                sources: sources,
                map: {
					projection: "EPSG:4326",
                    units: "dd",
					extent: [
                        parseFloat(bounds[0]), parseFloat(bounds[1]),
                        parseFloat(bounds[2]), parseFloat(bounds[3])
                    ],
					maxExtent: [
                        parseFloat(maxExtent[0]), parseFloat(maxExtent[1]),
                        parseFloat(maxExtent[2]), parseFloat(maxExtent[3])
                    ],
                    layers: customLayers,
                    center: [parseFloat(center[0]), parseFloat(center[1])],
                    zoom: parseInt(zoom)
                }
            }, mapIdentifier, authorization, fullScreen);   
            
            app.on({
                'portalready' : function(){
                    if(fullScreen){
                        var ovestPanel = Ext.getCmp('tree').findParentByType('panel');
                        ovestPanel.setDisabled();
                        ovestPanel.hide();
                        ovestPanel.collapse();
                    }
                    if(cruiseName){
                        Ext.getCmp('tree').setTitle(cruiseName);
                    }
	
                    //
                    // Visualizing metadata tab and layer at startup
                    //                    
                    if(lay && wmsurl && gnBaseUrl && uuid)
                    addMSLayer(lay, uuid, gnBaseUrl, wmsurl, false);
                
                    if(lay && gnBaseUrl && uuid){
                        app.viewMetadata(gnBaseUrl + "srv/" + gnLangStr + "/", uuid, lay);
                        appTabs.setActiveTab(2);	
                    }
                }    
            });

            addMSLayerRecord = function(source, sourceId, msLayerName, msLayerUUID, gnUrl, enableViewTab){
				  var record = source.createLayerRecord({
					name: msLayerName,
					title: msLayerName,
					uuid : msLayerUUID,
					gnURL: gnUrl + "srv/" + gnLangStr + "/",
					source: sourceId
				  });   
						  
				  if (record) {
					var layerStore = app.mapPanel.layers;  
					layerStore.add([record]);

					modified = true;
                                        
                    if(enableViewTab){
                        appTabs.setActiveTab(1);
                    }
					
					//
					// Zoom To Layer extent
					//
					var layer = record.get('layer');
					var extent = layer.restrictedExtent || layer.maxExtent || app.mapPanel.map.maxExtent;
					var map = app.mapPanel.map;
					
					map.addLayer( drawingLayer );

					//
					// respect map properties
					//
					var restricted = map.restrictedExtent || map.maxExtent;
					if (restricted) {
						extent = new OpenLayers.Bounds(
							Math.max(extent.left, restricted.left),
							Math.max(extent.bottom, restricted.bottom),
							Math.min(extent.right, restricted.right),
							Math.min(extent.top, restricted.top)
						);
					}

					map.zoomToExtent(extent, true);
				  }
            };

            checkLayerSource = function(wmsURL){

                var source;
				for (var id in app.layerSources) {
					  var src = app.layerSources[id];    
					  var url  = src.initialConfig.url; 
					  //
					  // Checking if source URL aldready exists
					  //
					  if(url && url.indexOf(wmsURL) != -1){
						  source = src;
						  break;
					  }
				} 

                return source;
            };
            
            addMSLayer = function(msLayerName, msLayerUUID, gnUrl, wmsURL, enableViewTab){		

                var source = checkLayerSource(wmsURL);

				if(source){
					addMSLayerRecord(source, source.id, msLayerName, msLayerUUID, gnUrl, enableViewTab);
				}else{
					var mask = new Ext.LoadMask(Ext.getBody(), {msg:"Attendere prego..."});
					mask.show();

					var sourceOpt = {
						config: {
						  url: wmsURL
						}
					};
				  
					source = app.addLayerSource(sourceOpt);
				  
					//
					// Waiting GetCapabilities response from the server.
					//
					source.on('ready', function(){ 
						mask.hide();
						addMSLayerRecord(source, source.id, msLayerName, msLayerUUID, gnUrl, enableViewTab);
					});
				  
					//
					// To manage failure in GetCapabilities request (invalid request url in 
					// GeoNetwork configuration or server error).
					//
					source.on('failure', function(src, msg){		          
						 mask.hide();
						 
						 Ext.Msg.show({
							 title: 'GetCapabilities',
							 msg: msg + " Il layer non può essere aggiunto alla mappa",
							 width: 300,
							 icon: Ext.MessageBox.ERROR
						 });  
					 });
				}
            }; 

	        addMSSource = function(wmsURL){		  
                var source = checkLayerSource(wmsURL);

				if(!source){
                      var mask = new Ext.LoadMask(Ext.getBody(), {msg:"Attendere prego..."});
                      mask.show();

					  var sourceOpt = {
						  config: {
							  url: wmsURL
						  }
					  };
					  
					  source = app.addLayerSource(sourceOpt);
					  
					  //
					  // Waiting GetCapabilities response from the server.
					  //
					  source.on('ready', function(){ 
						  mask.hide();
					  });
					  
					  //
					  // To manage failure in GetCapabilities request (invalid request url in 
					  // GeoNetwork configuration or server error).
					  //
					  source.on('failure', function(src, msg){		          
						  mask.hide();
						  
						  Ext.Msg.show({
							  title: 'GetCapabilities',
							  msg: msg + " Il layer non può essere aggiunto alla mappa",
							  width: 300,
							  icon: Ext.MessageBox.ERROR
						  });  
					  });
				}
			}
      };			
			
      var cfgFile = cruiseName ? "../"+cruiseName+".js" : "../NOMR12.js";
      Ext.Ajax.request({
          url: cfgFile,
          method: 'GET',
          success: function(response, opts){      		  
		      //
              //set serverconfig as global   
              //			  
              try{
                  serverConfig = Ext.util.JSON.decode(response.responseText);
              }catch(e){
                  Ext.Msg.show({
                        title: "Startup",
                        msg: "An error occurred while parsing the GeoStore URL config: " + response.status,
                        buttons: Ext.Msg.OK,
                        icon: Ext.MessageBox.ERROR
                  });
              }
              
              if(serverConfig){
                  proxy = serverConfig.proxy; 
                  geoStoreBaseURL = serverConfig.geoStoreBase;                  
                  customSources = serverConfig.gsSources;
				  config = serverConfig;
                  customLayers = serverConfig.layers;

                  //      
                  // Run the application when browser is ready
                  //
                  Ext.onReady(onReady);
              }
          },
          failure:  function(response, opts){
              Ext.Msg.show({
                    title: "Startup",
                    msg: "An error occurred while getting the GeoStore URL config: " + response.status,
                    buttons: Ext.Msg.OK,
                    icon: Ext.MessageBox.ERROR
              });
          }
      });
        
    </script>