<!DOCTYPE html>
<html>
	<head>
		<title>Nurc - Control Panel</title>
		 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<!-- Ext resources -->
        <link rel="stylesheet" type="text/css" href="../externals/ext/resources/css/ext-all.css">
        <link rel="stylesheet" type="text/css" href="../externals/ext/resources/css/xtheme-gray.css">

		<script type="text/javascript" src="../externals/ext/adapter/ext/ext-base.js"></script>
        <script type="text/javascript" src="../externals/ext/ext-all.js"></script>

	    <!-- OpenLayers resources -->
	    <link rel="stylesheet" type="text/css" href="../externals/openlayers/theme/default/style.css">

	    <!-- GeoExt resources -->
	    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/popup.css">
	    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/layerlegend.css">
	    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/gxtheme-gray.css">

	    <!-- gxp resources -->
	    <link rel="stylesheet" type="text/css" href="../externals/gxp/src/theme/all.css">
	
	 	<!-- GeoExplorer resources -->
	    <link rel="stylesheet" type="text/css" href="../theme/app/geoexplorer.css" />
	    <link rel="stylesheet" type="text/css" href="../theme/app/composer.css" />
		<link rel="stylesheet" type="text/css" href="../theme/app/nurc.css" />
	    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        
	
	    
		<!-- <script type="text/javascript" src="../script/app/GeoStore.js"></script>
		<script type="text/javascript" src="../script/app/ControlPanel.js"></script>
		<script type="text/javascript" src="../externals/utils/base64.js"></script> -->
		<script type="text/javascript" src="../script/GeoExplorer.js"></script> 
        
		<!--script type="text/javascript" src="../script/ControlPanel.js"></script>
		<script type="text/javascript" src="../script/ConfigurationBuilder.js"></script-->
		
		<!-- additional component from ext examples -->
		<link rel="stylesheet" type="text/css" href="../externals/ext/examples/ux/fileuploadfield/css/fileuploadfield.css"/>
		<link rel="stylesheet" type="text/css" href="../externals/ext/examples/ux/css/MultiSelect.css"/>
		<script type="text/javascript" src="../externals/ext/examples/ux/fileuploadfield/FileUploadField.js"></script>
		<script type="text/javascript" src="../externals/ext/examples/ux/MultiSelect.js"></script>
		<script type="text/javascript" src="../externals/ext/examples/ux/ItemSelector.js"></script>
	
		
		
		
	</head>
	<body>
	    <script type="text/javascript">
	
			
		    //
			// Fix for IE7 and IE8
			//
			if (!Date.prototype.toISOString) {
			    Date.prototype.toISOString = function() {
			        function pad(n) { return n < 10 ? '0' + n : n }
			        return this.getUTCFullYear() + '-'
			            + pad(this.getUTCMonth() + 1) + '-'
			            + pad(this.getUTCDate()) + 'T'
			            + pad(this.getUTCHours()) + ':'
			            + pad(this.getUTCMinutes()) + ':'
			            + pad(this.getUTCSeconds()) + 'Z';
			    };
			};

			// see http://stackoverflow.com/questions/11020658/javascript-json-date-parse-in-ie7-ie8-returns-nan
			var D= new Date('2011-06-02T09:34:29+02:00');
		    if(!D || +D!== 1307000069000){
		        Date.fromISO= function(s){
		            var day, tz,
		            rx=/^(\d{4}\-\d\d\-\d\d([tT][\d:\.]*)?)([zZ]|([+\-])(\d\d):(\d\d))?$/,
		            p= rx.exec(s) || [];
		            if(p[1]){
		                day= p[1].split(/\D/);
		                for(var i= 0, L= day.length; i<L; i++){
		                    day[i]= parseInt(day[i], 10) || 0;
		                };
		                day[1]-= 1;
		                day= new Date(Date.UTC.apply(Date, day));
		                if(!day.getDate()) return NaN;
		                if(p[5]){
		                    tz= (parseInt(p[5], 10)*60);
		                    if(p[6]) tz+= parseInt(p[6], 10);
		                    if(p[4]== '+') tz*= -1;
		                    if(tz) day.setUTCMinutes(day.getUTCMinutes()+ tz);
		                }
		                return day;
		            }
		            return NaN;
		        }
		    }
		    else{
		        Date.fromISO = function(s){
		            return new Date(s);
		        }
		    };
		    
    
            // Fix for IE10
            if(Ext.isIE)
            {
                Ext.override(Ext.menu.Menu, {
                    autoWidth : function(){
                        var el = this.el, ul = this.ul;
                        if(!el){
                            return;
                        }
                        var w = this.width;
                        if(w){
                            el.setWidth(w);
                        }else if(Ext.isIE && !Ext.isIE8){
                            el.setWidth(this.minWidth);
                            var t = el.dom.offsetWidth; // force recalc
                            el.setWidth(ul.getWidth()+el.getFrameWidth("lr"));
                        }
                    }
                });
            }    
	
	
		

		// var token = 'Basic ' +  Base64.encode('admin:admin');

		
		
		 var ControlPanelUIBuilder = {
			
				createFooter: function(){
		            var aboutButton = new Ext.Button({
		                text: GeoExplorer.prototype.appInfoText,
		                tooltip: 'Credits',
		                iconCls: "icon-geoexplorer",
		                handler: function(){
		                    var appInfo = new Ext.Panel({
		                        header: false,
		                        html: "<iframe style='border: none; height: 100%; width: 100%' src='../about.html' frameborder='0' border='0'><a target='_blank' href='../about.html'>" + GeoExplorer.prototype.aboutText+"</a> </iframe>"
		                    });

		                    var win = new Ext.Window({
		                        title:  GeoExplorer.prototype.aboutThisMapText,
		                        modal: true,
		                        layout: "fit",
		                        width: 370,
		                        height: 380,
		                        items: [appInfo]
		                    });

		                    win.show();
		                }
		            });            

		            var poweredByGeoSol = new Ext.Button({
		                tooltip: 'Powered by GeoSolutions',
		                iconCls: "icon-geosol",
		                width : 150,
		                handler: function(btn){
		                    window.open('http://geo-solutions.it/', '_blank');
		                }
		            });			
					return [poweredByGeoSol,"-",aboutButton];
				},
				
				getVehicleData: function( vehicles ){
					var data = new Array;
					for (var i=0; i<vehicles.length; i++){
						var vehicle = vehicles[i];
						data.push( [ vehicle.name, vehicle.name, vehicle.url ] );
					}
					return data;
				},
				
				getModelData: function( models ){
					var data = new Array;
					for (var i=0; i<models.length; i++){
						var model = models[i];
						data.push( [ model.name, model.description ] );
					}
					return data;
				},
				
				getBackgroundData: function( bgs ){
					var data = new Array;
					for (var i=0; i<bgs.length; i++){
						var bg = bgs[i];
						data.push( [ bg.name, bg.description ] );
					}
					return data;
				},

				
				/**
				 * return a function which builds the user interface
				 */
				instance: function( config ){
					var builder = this;
					return function(){
						
						// console.log( config );
						
						var vehicles = new Ext.data.ArrayStore({
						        data: builder.getVehicleData( config.vehicles ),
						        fields: ['value', 'text', 'url']
						});
						
						var models = new Ext.data.JsonStore({
							// data: builder.getModelData( config.models ),
							// fields: ['value','text']
							data: config.models,
							fields: ['format', 'group', 'name', 'opacity', 'selected', 
								'source', 'title', 'transparent', 'visibility', 'ratio', 'elevation', 'styles', 'style']
						});
						
					    var backgrounds = new Ext.data.ArrayStore({
					        data: builder.getBackgroundData( config.backgroundsProperties ),
					        fields: ['value','text']
					    });
						
						var control = new ControlPanel({
							interPageBaseUrl: config.interPageBaseUrl,
							infoPageBaseUrl: config.infoPageBaseUrl,
							fileUploaderServlet: config.fileUploaderServlet,
							imgsBaseUrl: config.imgsBaseUrl,
							geostoreBaseUrl: config.geostoreBaseUrl,
							proxy: config.proxy,
							models: config.modelsProperties,
							defaultModels: config.defaultModels,
							vehicles: vehicles,
							backgrounds: config.backgroundsProperties,
							defaultBackgrounds: config.defaultBackgrounds,
							sourcesProperties: config.sourcesProperties,
							// info for map embedded in control panel
							background: config.background,
							sources: config.sources,
							geoserverBaseUrl: config.geoserverBaseUrl,
							defaultWatermarkUrl: config.defaultWatermarkUrl,
							pageSize: config.pageSize
						});


						// recupero le risorse "gliders"
						var glidersResources = new Resources({
                            authorization: config.token,
                            proxy: config.proxy,
                            baseUrl: config.geostoreBaseUrl,
                            category: 'glider',
                            searchPath : 'extjs/search/list'
                        });
                       
                        var store = glidersResources.getStore();
/*                         
                        var pagingToolbar = new Ext.PagingToolbar({
                                store: store,       
                                displayInfo: true,
                                pageSize: config.pageSize,
                                prependButtons: true
                        });
*/
                        // init store
                        /*
                        store.load({
                            params:{
                                start: 0,
                                limit: config.pageSize,
                                includeAttributes: true,
                                xmlData: '<AND><CATEGORY><name>glider</name><operator>EQUAL_TO</operator></CATEGORY></AND>'
                            }
                        });
                        */
                        // Fatto
                        
                        control.cruiseListView.on('click', function(list, index, node, evt) {
                            var listItem = control.store.getAt(index).data;
                            if ( listItem.id !== control.mapId){
                                store.load({
                                    params:{
                                        start: 0,
                                        limit: config.pageSize,
                                        includeAttributes: true,
                                        xmlData: '<AND><CATEGORY><name>glider</name><operator>EQUAL_TO</operator></CATEGORY><FIELD><field>NAME</field><operator>LIKE</operator><value>'+listItem.name+'_%</value></FIELD></AND>'
                                    }
                                });
                            } 
                        });

                        var glider_names = new Ext.data.ArrayStore({
                                data: builder.getVehicleData( config.vehicles ),
                                fields: ['value', 'text', 'url']
                        });
                        
                        var prediction = new GliderPredictionToolPanel({
                            geostoreBaseUrl: config.geostoreBaseUrl,
                            proxy: config.proxy,
                            geoserverBaseUrl: config.geoserverBaseUrl,
                            glider_names: glider_names,
                            glider_resources : store
                        });
        
						
						new Ext.Viewport({
								layout: 'border',
								title: 'Nurc - Control Panel',
								margins: '0 0 0 0 ',
								items: [
									{
										id: 'main-header',
										region: 'north',
										border: false,
						                height: 75,
										hideCollapseTool: true,
				                        collapsible : true,
				                        collapsed: false,
				                        collapseMode: 'mini',
										split: true,
										html: '<img style="position:absolute; left:0px; z-index:1000" src="../theme/app/img/header_ControlPage.png" height="100%"/><div style= "float:right;text-align:left"><h1 style="color:white"></h1></div>',
						                bodyStyle: 'padding:0px;background-color: #0055bb;'
									},
									
									// wrappo il tabpanel
									{
                                        layout: 'fit',
                                        region:'center',
                                        frame:true,
                                        tbar: [ '->', control.getLoginButton()],
                                        items: [
            									{
            										id: 'tab-panel',
            										xtype: 'tabpanel',
            										width:700,
            										activeTab: 0,
            										items: 
                										[
            										/////////// Items TABPANEL
                    										{
                    											title:'Cruise control',
                    											layout: 'border',
                    											margins: '0 0 0 0 ',
                    											items:[
                    											    {
                    											        region:'west',
                    											        margins:'0 0 0 0',
                                                                        split:true,
                                                                        width: 200,
                                                                        layout:'border',
                                                                        
                                                                        items:[
                    											        {
                        												    title:"Cruise List",
                        													style:'background:white;',
                        													tbar: [ control.getCreateButton(), control.reloadListButton, '->', prediction.onDemandButton],
                        											        border: false,
                        											        //split:true,
                        													// margins: '2 0 5 5',
                        											        region:'center',
                                                                            width: 200,
                        											        // minSize: 100,
                        											        // maxSize: 500,
                        													items:control.getCruiseListView(),
                        													bbar: control.pagingToolbar
                        												},
                        												{
                                                                            title:"Glider Batches",
                                                                            style:'background:white;',
                                                                            tbar: [ prediction.getEditButton(), prediction.getDeleteButton(), '->', prediction.reloadListButton ],
                                                                            border: false,
                                                                            split:true,
                                                                            collapsible :true,
                                                                            // margins: '2 0 5 5',
                                                                            region:'south',
                                                                            width: 200,
                                                                            boxMinHeight:100,
                                                                            // minSize: 100,
                                                                            // maxSize: 500,
                                                                            items: prediction.getGliderListView(),
                                                                            //bbar: control.pagingToolbar
                                                                            ref: 'glidersListPanel'
                                                                        }
                                                                        ]
                        											},
                    												{
                    													id: 'content-panel',
                    													
                    													region: 'center', 
                    													// layout: 'fit',
                    													layout:'border',
                    													activeItem: 0,
                    													border: false,
                    													frame:true,
                    													items: [ control.getCruisePanelView() ]
                    													
                    												}
                    											]
                    											
                    										}
                    										
                    										// GliderPredictionTool 
                    										,prediction.getGliderPanelView()
            										///////// Items TABPANEL
            										]
            										,bbar : builder.createFooter()
            									}
									
									     ]
									}// fine wrap
								],
							    renderTo: Ext.getBody()
							 });
							 
							 
							 //prediction.getGliderListView().store = control.getCruiseListView.vehicleSelector.toMultiselect.store;


						};
				}
		
		 };
		
		  var configFilename = "../configs/controlConfig.js";
	      Ext.Ajax.request({
	          url: configFilename,
	          method: 'GET',
	          success: function(response, opts){    		  
	              try{
	                  var controlPanelConfig = Ext.util.JSON.decode(response.responseText);

	              }catch(e){
	                  Ext.Msg.show({
	                        title: "Startup",
	                        msg: "An error occurred while parsing configuration file: " + e,
	                        buttons: Ext.Msg.OK,
	                        icon: Ext.MessageBox.ERROR
	                  });
	              }
	
				// This should be outside the try-block because an exception is not a parsing error
				if ( controlPanelConfig ){
					Application.init( controlPanelConfig );
					Ext.onReady( ControlPanelUIBuilder.instance( controlPanelConfig ) );
 				}
	          },
	          failure:  function(response, opts){
	              Ext.Msg.show({
	                    title: "Startup",
	                    msg: "An error occurred while parsing configuration file: " + response.status,
	                    buttons: Ext.Msg.OK,
	                    icon: Ext.MessageBox.ERROR
	              });
	          }
	      });
		
		</script>
	</body>
</html>