<% extends ./base.html %>
<% subskin extrahead %>
    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="externals/openlayers/theme/default/style.css">
    <script type="text/javascript" src="script/OpenLayers.js"></script>

    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="externals/GeoExt/resources/css/gxtheme-gray.css">
    <script type="text/javascript" src="script/GeoExt.js"></script> 

    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="externals/gxp/src/theme/all.css">
    <script type="text/javascript" src="script/gxp.js"></script> 

    <!-- proj4js resources -->
    <script type="text/javascript" src="script/proj4js.js"></script>

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="theme/app/geoexplorer.css" />
    <link rel="stylesheet" type="text/css" href="theme/app/fdh.css" />
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        

    <script type="text/javascript" src="script/GeoExplorer.js"></script>
    <script type="text/javascript" src="script/ux.js"></script>
    
    <!-- PrintPreview resources 
    <link rel="stylesheet" type="text/css" href="externals/PrintPreview/resources/css/printpreview.css">
    <script type="text/javascript" src="script/PrintPreview.js"></script> -->
    
    <!-- csw resources -->
    <link rel="stylesheet" type="text/css" href="externals/csw/CSWViewer/css/csw.css">
    <script type="text/javascript" src="auth/base64.js"></script>
    <script type="text/javascript" src="script/CSWViewer.js"></script>

    <!-- translation data  -->
    <script type="text/javascript" src="translations/it.js"></script>

    <script>
        
        var app;
        
        var modified = false; var mapIdentifier; var authorization; var fullScreen;

        //
        // Parsing the request to get the parameters
        //
        var params = location.search.replace(/^\?/,'').replace(/&amp;/g,'&').split("&");
        
        for (var j=0; j < params.length; j++) {
          var param = params[j].split("=");
          switch ( param[0] ) {
            case "mapId"	: 
                            try{
                                mapIdentifier = parseInt(param[1]);
                            }catch(e){
                                mapIdentifier = -1;
                            } 
                            break;
            case "auth" : 
                            if(param[1] == 'true') 
                                authorization = true; 
                            else 
                                authorization = false; 
                            break;
            case "fullScreen" : 
                            if(param[1] == 'true') 
                                fullScreen = true; 
                            else 
                                fullScreen = false; 
                            break;
            default : 
                            mapIdentifier = -1;
                            authorization = false;
                            fullScreen = false; 
          }
        }
		            
        var proxy; 
        var geoStoreBaseURL;        
        var customSources;		
		
        var onReady = function(){

            Ext.BLANK_IMAGE_URL = (function() {
                    if (Ext.isIE8 || Ext.isGecko || Ext.isOpera || Ext.isChrome) {
                        return "data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
                    } else {
                        return "theme/app/img/blank.gif";
                    }
            })();

            OpenLayers.ImgPath = "externals/openlayers/theme/default/img/";
            Proj4js.defs["EPSG:102113"]="+proj=merc +a=6378137 +b=6378137 +lat_ts=0.0 +lon_0=0.0 +x_0=0.0 +y_0=0 +k=1.0 +units=m +nadgrids=@null +no_defs";

            gxp.plugins.ZoomToExtent.prototype.closest = false;
                        
            Ext.ux.IFrameComponent = Ext.extend(Ext.BoxComponent, {
                 onRender : function(ct, position){
                      this.el = ct.createChild({
                        tag: 'iframe',
                        id: 'iframe-'+ this.id,
                        frameBorder: 0, 
                        src: this.url
                      });
                 }
            });
            
	    var curLang = OpenLayers.Util.getParameters()["locale"] || GeoExt.Lang.locale || 'fr';

	    var availLanguages = ['it'];
	    var gnLangStr = curLang.substr(0,2);
		
	    if(availLanguages.indexOf(gnLangStr) < 0){
		gnLangStr = 'it';
	    }

	    var gnURL = 'http://localhost:8080/geonetwork/srv/' + gnLangStr + '/main.home';

            var geonetworkPanel = new Ext.Panel({
                id: 'geonetworkPanel',
                title: GeoExplorer.prototype.searchTabTitle || 'Portale',
                layout:'fit', 
                items: [ 
                    new Ext.ux.IFrameComponent({ 
                        id: 'gn-panel',
                        url: gnURL 
                    }) 
                ]
            });
            
            var appTabs = new Ext.TabPanel({
                items: [geonetworkPanel],
                region: 'center',
                border : false,
                id : 'appTabs',
                enableTabScroll: true
            });         

            var aboutButton = new Ext.Button({
                text: GeoExplorer.prototype.appInfoText,
                iconCls: "icon-geoexplorer",
                handler: function(){
                    var appInfo = new Ext.Panel({
                        header: false,
                        html: "<iframe style='border: none; height: 100%; width: 100%' src='about.html' frameborder='0' border='0'><a target='_blank' href='about.html'>"+ GeoExplorer.prototype.aboutText+"</a> </iframe>"
                    });

                    var win = new Ext.Window({
                        title:  GeoExplorer.prototype.aboutThisMapText,
                        modal: true,
                        layout: "fit",
                        width: 300,
                        height: 300,
                        items: [appInfo]
                    });
                    
                    win.show();
                }
            });
            
            var poweredByGeoSol = new Ext.Button({
                tooltip: 'Powered by GeoSolutions',
                iconCls: "icon-geosol",
                width : 150,
                handler: function(btn){
                    window.open('http://geo-solutions.it/contact/', '_blank');
                }
            });    
		
            var langData = [['it', 'Italiano']];

            var query = location.search;        
            if(query && query.substr(0,1) === "?"){
                query = query.substring(1);
            }
            
            var url = Ext.urlDecode(query);     
            var code = url.locale;   

            if(!code){
                code = "it";
            }
            
            var initialLanguageString;
                    
            //check if code is valid
            if(code){
                Ext.each(langData, function(rec){
                    if(rec[0] === code.toLowerCase()){
                        initialLanguageString = rec[1];
                        return;
                    }
                });
            }            
			
	    if (GeoExt.Lang) {
                GeoExt.Lang.set(code);
            }
	
            var headerContent = [
		'<div>',
		'<div style="float:right"><img src="theme/app/img/fdh/fdh_left-banner_en.gif" usemap="#IM_left-banner"  border="0" /></div>',
		'<div style="float:left"><img src="theme/app/img/fdh/fdh_right-banner_en.jpg" usemap="#IM_right-banner"  border="0" /></div>',
		'</div>'
	    ];

            var appViewport = new Ext.Viewport({
                id: 'appVieport',
                layout:'fit',
                border:false,
                items: [{
                    region : 'center',
                    layout : 'border',
                    border : false,
                    header : false,                    
                    items : [{
                      border: false,
                      header: false,
                      html:  headerContent,
                      region: 'north',
                      collapsible: true,
                      collapseMode:  'mini',
                      hideCollapseTool: true,
                      split: true,
                      animCollapse : false,
                      minHeight: 86,
                      maxHeight: 86,
                      height: 86,
                      id : 'fdhHeader'
                    },appTabs],                            
                    bbar : [
                      poweredByGeoSol, ' ', aboutButton
                    ]
                }]
            });
            
            //
            // Parsing WMS servers Sources for getCapabilities operation
            //
            var sources = "{" +                
                "\"comunefi\": {" + 
                    "\"url\":\"http://sr-vm107-sitgs1:8082/geoserver/wms\"," +
                    "\"title\":\"Comune FI GeoServer\"," +
                    "\"layerBaseParams\": {" +
                        "\"TILED\": true," +
                        "\"TILESORIGIN\": \"-20037508.34,-20037508.34\"" +
                    "}" +
                "}," +
                "\"mapquest\": {" +
                    "\"ptype\": \"gxp_mapquestsource\"" +
                "}," + 
                "\"osm\": {" + 
                    "\"ptype\": \"gxp_osmsource\"" +
                "}," +
                "\"google\": {" +
                    "\"ptype\": \"gxp_googlesource\"" + 
                "}," +
                "\"bing\": {" +
                    "\"ptype\": \"gxp_bingsource\"" + 
                "}," + 
                "\"ol\": {" + 
                    "\"ptype\": \"gxp_olsource\"" + 
                "}";
            
            if(customSources.length > 0)
                sources += ",";
                
            for(var s=0; s<customSources.length; s++){   
                 sources += "\"source" + s + "\":" + JSON.stringify(customSources[s]);
                 
                 if(s + 1 < customSources.length)
                    sources += ",";
            }
             
            sources +="}";
            
            try{
                sources = Ext.util.JSON.decode(sources);
            }catch(e){
                sources = {
                    mapquest: {
                        ptype: "gxp_mapquestsource"
                    },
                    osm: {
                        ptype: "gxp_osmsource"
                    },
                    google: {
                        ptype: "gxp_googlesource"
                    },
                    bing: {
                        ptype: "gxp_bingsource"
                    },
                    ol: {
                        ptype: "gxp_olsource"
                    }
                };
          
                Ext.Msg.show({
                      title: "Startup",
                      msg: "An error occurred while parsing the CUSTOM GeoServer sources",
                      buttons: Ext.Msg.OK,
                      icon: Ext.MessageBox.ERROR
                });
            }
			      		     
	    /*var auth = 'Basic ' + Base64.encode('admin:admin');
			      Ext.Ajax.defaultHeaders = {
                'Authorization' : auth
            };*/
             
            app = new GeoExplorer.Composer({
                modified: false,
                //proxy: "proxy/?url=",
                proxy: proxy,
                //xmlJsonTranslateService: "http://demo1.geo-solutions.it/xmlJsonTranslate/",
                defaultSourceType: "gxp_wmssource",
                renderToTab : 'appTabs',
                //printService:"http://demo1.geo-solutions.it/geoserver/pdf/",
                mapTitle: GeoExplorer.prototype.viewTabTitle || 'Vista',
                about: {
                    title: "Custom Map",
                    'abstract': "Custom Map",
                    contact: "<a href='#'>#</a>."
                },
                sources: sources,
                cswconfig: {
                    catalogs: [
                        {"name": "Comune FI" , "url": "http://datigis.comune.fi.it/geonetwork/srv/it/csw", "description": "GeoNetwork del Comune di Firenze"},
                        {"name": "Demo1GeoSolutions" , "url": "http://demo1.geo-solutions.it/geonetwork/srv/en/csw", "description": "Iternal GeoNetwork demo"},
                        {"name": "Treviso", "url": "http://ows.provinciatreviso.it/geonetwork/srv/it/csw", "description": "Treviso Geonetwork"},
                        {"name": "kscNet", "url": "http://geoportal.kscnet.ru/geonetwork/srv/ru/csw", "description": "kscNet"},
                        {"name": "CSI-CGIAR", "url": "http://geonetwork.csi.cgiar.org/geonetwork/srv/en/csw", "description" : "CSI-CGIAR"},
                        {"name": "EauFrance", "url": "http://sandre.eaufrance.fr/geonetwork/srv/fr/csw", "description" : "EauFrance"},
                        {"name": "SOPAC", "url": "http://geonetwork.sopac.org/geonetwork/srv/en/csw", "description" : "SOPAC"},
                        {"name": "SADC", "url": "http://www.sadc.int/geonetwork/srv/en/csw", "description" : "SADC"},
                        {"name": "MAPAS", "url": "http://mapas.mma.gov.br/geonetwork/srv/en/csw", "description" : "MAPAS"}
                    ],
                    dcProperty: "title",
                    initialBBox: {
                        minx:-13,
                        miny:10,
                        maxx:-10,
                        maxy:13
                    }, 
                    cswVersion: "2.0.2",
                    filterVersion: "1.1.0",
                    start: 1,
                    limit: 10,
                    timeout: 60000
                },
                map: {
					          projection: "EPSG:900913",
                    units: "m",
                    maxExtent: [
                        -20037508.34, -20037508.34,
                        20037508.34, 20037508.34
                    ],
                    layers: [{
                        source: "bing",
                        title: "Bing Aerial",
                        name: "Aerial",
                        group: "background"
                    }, {
                        source: "osm",
                        title: "Open Street Map",
                        name: "mapnik",
                        group: "background"
                    },{
                        source: "mapquest",
                        title: "MapQuest OpenStreetMap",
                        name: "osm",
                        group: "background"
                    },{
                        source: "google",
                        title: "Google Roadmap",
                        name: "ROADMAP",
                        group: "background"
                    },{
                        source: "google",
                        title: "Google Hybrid",
                        name: "HYBRID",
                        group: "background"
                    },{
                        source: "google",
                        title: "Google Terrain",
                        name: "TERRAIN",
                        group: "background"
                    }],
                    center: [-1224514, 1291331],
                    zoom: 6
                }
            }, mapIdentifier, authorization, fullScreen);   
            
            app.on({
                'portalready' : function(){
                    if(fullScreen){
                        var ovestPanel = Ext.getCmp('tree').findParentByType('panel');
                        ovestPanel.setDisabled();
                        ovestPanel.hide();
                        ovestPanel.collapse();
                    }
                }    
            });
            
            addMSLayer = function(msLayerName, msLayerUUID, gnUrl){
                var msSource = app.layerSources.comunefi;
                var id = msSource.id;

                var record = msSource.createLayerRecord({
                    name: msLayerName,
                    title: msLayerName,
                    uuid : msLayerUUID,
                    gnURL: gnUrl,
                    source : id
                });   
                              
                if (record) {
                    var layerStore = app.mapPanel.layers;  
                    layerStore.add([record]);
                    modified = true;

                    appTabs.setActiveTab(1);
                }     
            };

	    addMSSource = function(url){
                  var mask = new Ext.LoadMask(Ext.getBody(), {msg:"Please wait..."});
                  mask.show();

		  var source;
		  for (var id in app.layerSources) {
		      var src = app.layerSources[id];    
		      var url  = src.initialConfig.url; 
		      //
		      // Checking if source url aldready exists
		      //
		      if(url && url.indexOf(wms) != -1)
		          source = src;
		  } 

		  if(!source){
		      var sourceOpt = {
		          config: {
		              url: wms
		          }
		      };
		      
		      source = app.addLayerSource(sourceOpt);
		      
		      //
		      // Waiting GetCapabilities response from the server.
		      //
		      source.on('ready', function(){ 
		          mask.hide();
		      });
		      
		      //
		      // To manage failure in GetCapabilities request (invalid request url in 
		      // GeoNetwork configuration or server error).
		      //
		      source.on('failure', function(src, msg){		          
		          mask.hide();
		          
		          Ext.Msg.show({
		              title: 'GetCapabilities',
		              msg: msg + " The layer cant be added to the map",
		              width: 300,
		              icon: Ext.MessageBox.ERROR
		          });  
		      });
		  }else{
		      mask.hide();
		  }
	    }
      };			
			
      Ext.Ajax.request({
          url: "http://localhost:8080/geostore/urlConfig.js",
          //url: "/MapStore/urlConfig.js", //TEST
          method: 'GET',
          success: function(response, opts){      
              var serverConfig;    
              
              try{
                  serverConfig = Ext.util.JSON.decode(response.responseText);
              }catch(e){
                  Ext.Msg.show({
                        title: "Startup",
                        msg: "An error occurred while parsing the GeoStore URL config: " + response.status,
                        buttons: Ext.Msg.OK,
                        icon: Ext.MessageBox.ERROR
                  });
              }
              
              if(serverConfig){
                  proxy = serverConfig.proxy; 
                  geoStoreBaseURL = serverConfig.geoStoreBase;                  
                  customSources = serverConfig.gsSources;

                  //      
                  // Run the application when browser is ready
                  //
                  Ext.onReady(onReady);
              }
          },
          failure:  function(response, opts){
              Ext.Msg.show({
                    title: "Startup",
                    msg: "An error occurred while getting the GeoStore URL config: " + response.status,
                    buttons: Ext.Msg.OK,
                    icon: Ext.MessageBox.ERROR
              });
          }
      });
        
    </script>
