    <!-- OpenLayers resources -->
    <link rel="stylesheet" type="text/css" href="../externals/openlayers/theme/default/style.css">

    <!-- GeoExt resources -->
    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/popup.css">
    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/layerlegend.css">
    <link rel="stylesheet" type="text/css" href="../externals/GeoExt/resources/css/gxtheme-gray.css">

    <!-- gxp resources -->
    <link rel="stylesheet" type="text/css" href="../externals/gxp/src/theme/all.css">

    <!-- GeoExplorer resources -->
    <link rel="stylesheet" type="text/css" href="../theme/app/geoexplorer.css" />
    <!-- link rel="stylesheet" type="text/css" href="../theme/app/composer.css" / -->
    <!--[if IE]><link rel="stylesheet" type="text/css" href="theme/app/ie.css"/><![endif]-->        
    
    <script type="text/javascript" src="../script/GeoExplorer.js"></script>

    <!-- translation data  -->
    <script type="text/javascript" src="../translations/it.js"></script>
    <script type="text/javascript" src="../translations/fr.js"></script>
    <script type="text/javascript" src="../translations/en.js"></script>

  <style type="text/css">
        #main {
            text-align:center;
        }  
        table.featureInfo, table.featureInfo td, table.featureInfo th {
                border:1px solid #03084B;
                border-collapse:collapse;
                margin:0;
                padding:0;
                font-size: 90%;
                padding:.2em .1em;
        }
         table.featureInfo caption.featureInfo{
                  padding:.2em .2em; 
                  text-transform:uppercase;
                  color:#222B43; 
                  text-shadow: 2px 2px 3px #E8E8FF;
                  filter:DropShadow(Color=#E8E8FF, OffX=2, OffY=2);
                  font-weight:bold; 
                  font-size: 12px; 
                  /*background:#CEDFF5; */
          }        
          table.featureInfo th{
                  border:1px solid #03084B;
                  padding:.2em .2em; 
                  text-transform:uppercase;
                  color:#0055BB; 
                  font-weight:bold; 
                  font-size: 10px; 
                  background:#CEDFF5; 
          }
		table.featureInfo th.title{
                padding:.2em .2em;
                text-transform:uppercase;
                text-shadow: 2px 2px 3px #FFF;
                filter:DropShadow(Color=#FFFFFF, OffX=2, OffY=2);
                font-weight:bold;
                color:#030F1C;
                background:#A5A7AA;
		
		}
        table.featureInfo tr.odd td{
                text-align:left;
                font-size:10px;
                font-weight:bold;
                text-transform:lowercase;
                padding:.2em .2em;    
        }
        table.featureInfo td{
                text-align:left;
                font-size:10px;
                font-weight:bold;
                text-transform:lowercase;
                padding:.2em .2em;              
        }
  </style>
  
  <style type="text/css">  
    .olControl_TimeVisualization {
        top:0px;
        left:0px;
    }   
    .olTime {
        position:relative;
        left:60px;
        top:10px;        
        background-color:#222B43;
    }     
  </style>
  
    <script type="text/javascript">
    <!--
        Ext.onReady(function() {
          setTimeout(function(){
            Ext.get('loading').remove();
            Ext.get('loading-mask').fadeOut({remove:true});
          }, 1000);
        });
    //-->
    </script>
    
    <div id="loading-mask"></div>
    <div id="loading">
      <div class="loading-indicator">
      </div>
    </div>
    
    <script>
    
		// fix for IE7 and IE8
		if (!Date.prototype.toISOString) {
		    Date.prototype.toISOString = function() {
		        function pad(n) { return n < 10 ? '0' + n : n }
		        return this.getUTCFullYear() + '-'
		            + pad(this.getUTCMonth() + 1) + '-'
		            + pad(this.getUTCDate()) + 'T'
		            + pad(this.getUTCHours()) + ':'
		            + pad(this.getUTCMinutes()) + ':'
		            + pad(this.getUTCSeconds()) + 'Z';
		    };
		}
        
		// see http://stackoverflow.com/questions/11020658/javascript-json-date-parse-in-ie7-ie8-returns-nan
		var D= new Date('2011-06-02T09:34:29+02:00');
	    if(!D || +D!== 1307000069000){
	        Date.fromISO= function(s){
	            var day, tz,
	            rx=/^(\d{4}\-\d\d\-\d\d([tT][\d:\.]*)?)([zZ]|([+\-])(\d\d):(\d\d))?$/,
	            p= rx.exec(s) || [];
	            if(p[1]){
	                day= p[1].split(/\D/);
	                for(var i= 0, L= day.length; i<L; i++){
	                    day[i]= parseInt(day[i], 10) || 0;
	                };
	                day[1]-= 1;
	                day= new Date(Date.UTC.apply(Date, day));
	                if(!day.getDate()) return NaN;
	                if(p[5]){
	                    tz= (parseInt(p[5], 10)*60);
	                    if(p[6]) tz+= parseInt(p[6], 10);
	                    if(p[4]== '+') tz*= -1;
	                    if(tz) day.setUTCMinutes(day.getUTCMinutes()+ tz);
	                }
	                return day;
	            }
	            return NaN;
	        }
	    }
	    else{
	        Date.fromISO= function(s){
	            return new Date(s);
	        }
	    }
        
        var app;

        var modified = false; var mapIdentifier; var authorization; var fullScreen;
        var uuid; var lay; var wmsurl; var serverConfig;

		// //////////////////////////////////////////////////
		// Parsing the request to get the parameters
		// //////////////////////////////////////////////////
        var params = location.search.replace(/^\?/,'').replace(/&amp;/g,'&').split("&");
        for (var j=0; j < params.length; j++) {
			var param = params[j].split("=");
			if(param[0]){
				switch ( param[0] ) {
					case "mapId": 
									try{
										mapIdentifier = parseInt(param[1]);
									}catch(e){
										mapIdentifier = -1;
									} 
									break;
					case "auth" : 
									if(param[1] == 'true') 
										authorization = true; 
									else 
										authorization = false; 
									break;
					case "fullScreen" : 
									if(param[1] == 'true') 
										fullScreen = true; 
									else 
										fullScreen = false; 
									break;
		            case "layer" : 
		                            lay = param[1]; 
		                            break;
		            case "wmsurl" : 
		                            wmsurl = param[1]; 
		                            wmsurl = decodeURIComponent(wmsurl);
		                            break;
		            case "uuid" : 
		                            uuid = param[1]; 
		                            break;
					default :       
									mapIdentifier = -1;
									authorization = false;
									fullScreen = false; 
				}
			}
        }
		
		// ///////////////////////////////////////////////////////////////
		// Custom variables from the urlConfig user configuration file 
		// ///////////////////////////////////////////////////////////////
        var proxy; 
        var geoStoreBaseURL;        
        var customSources;
        //var gnLangStr;
        var gnBaseUrl;
        
        var onReady = function(){

            /*Ext.BLANK_IMAGE_URL = (function() {
                    if (Ext.isIE8 || Ext.isGecko || Ext.isOpera || Ext.isChrome) {
                        return "data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
                    } else {
                        return "theme/app/img/blank.gif";
                    }
            })();*/

            OpenLayers.ImgPath = "../externals/openlayers/theme/default/img/";

            gxp.plugins.ZoomToExtent.prototype.closest = false;
                        
            Ext.ux.IFrameComponent = Ext.extend(Ext.BoxComponent, {
                 onRender : function(ct, position){
                      this.el = ct.createChild({
                        tag: 'iframe',
                        id: 'iframe-'+ this.id,
                        frameBorder: 0, 
                        src: this.url
                      });
                 }
            });
            
			// //////////////////////////////////////////////////////            
            // Setting the locale based on query string parameter
            // //////////////////////////////////////////////////////
            var query = location.search;        
            if(query && query.substr(0,1) === "?"){
                query = query.substring(1);
            }

            var url = Ext.urlDecode(query);
            var code = url.locale || 'it';
            var langData = [['en', 'English'],['fr','Français'],['it','Italiano']];

            // //////////////////////////////////////////////////        
            // Setting the initial language for the selector
            // //////////////////////////////////////////////////
			var initialLanguageString;					
			Ext.each(langData, function(rec){
				if(rec[0] === code.toLowerCase()){
					initialLanguageString = rec[1];
					return;
				}
			});
			
			initialLanguageString = !initialLanguageString ? "Italiano" : initialLanguageString;	
			
			// ////////////////////////////////////////////////////
			// Setting the language code for the GeoExt tools
			// ////////////////////////////////////////////////////
			if (GeoExt.Lang) {
                GeoExt.Lang.set(code);
            }
			
            var languageSelector = new Ext.form.ComboBox({
                store: new Ext.data.ArrayStore({
                    fields: ['code', 'name'],
                    data :  langData
                }),
                displayField: 'name',
                typeAhead: true,
                mode: 'local',
                forceSelection: true,
                triggerAction: 'all',
                emptyText: initialLanguageString,
                selectOnFocus:false,
                editable: false,
                width: 100,
                listeners: {
                    beforeselect: function(cb, record, index){
					   var c = record.get('code');
                       if(c && c == code)
                          return false; 
					   else
						  languageSelector.prevLang = code;
                    },                    
                    select: function(cb, record, index) {         
                        
                        var switchLang = function(buttonId, text, opt){
                            if(buttonId === 'ok'){
                                var c = record.get('code');
								var u = location.pathname + '?locale=' + c;
								
								if(url.auth){
									u += '&auth=' + url.auth;
									if(url.auth == 'false')
										u += '&fullScreen=true';
								}
								
								if(url.mapId)
									u += '&mapId=' + url.mapId;
								
								location.replace(u);                                
                            }else{																
                                if(languageSelector.prevLang && languageSelector.prevLang == 'fr'){
                                    cb.setValue('Français');
                                }else if(languageSelector.prevLang && languageSelector.prevLang == 'it'){
									cb.setValue('Italiano');
								}else{
                                    cb.setValue('English');
                                }
                            }
                        };
                        
                        var switchLangActionTip = "Switch Language";
                        var switchLangConfirmationText = "You are sure to change language? All unsaved data will be lost";
                        
                        if(code === 'fr'){
                            switchLangActionTip = "Changement de langue";
                            switchLangConfirmationText = "Vous êtes certain que vous souhaitez modifier la langue ? toutes les données non enregistrées seront a perdu";
                        }else if(code === 'it'){
                            switchLangActionTip = "Cambiamento Lingua";
                            switchLangConfirmationText = "Si è sicuri di voler cambiare lingua? I dati non salvati saranno persi";
                        }
                        
                        Ext.Msg.show({
                           title: switchLangActionTip,
                           msg: switchLangConfirmationText,
                           buttons: Ext.Msg.OKCANCEL,
                           fn: switchLang,
                           icon: Ext.MessageBox.QUESTION
                        });  
                    }
                }
            });

        gnBaseUrl = 'http://159.213.57.108/geonetwork/';
		gnLangStr = code;
        var gnURL = gnBaseUrl + 'srv/' + gnLangStr + '/main.home';
		
        //var gpURL = 'http://geoportale.lamma.rete.toscana.it';

            //
            //Pannello per Geonetwork Consorzio LaMMA
            //
            var geonetworkPanel = new Ext.Panel({
                id: 'geonetworkPanel',
                title: GeoExplorer.prototype.searchTabTitle || 'Portale',
                layout:'fit', 
                items: [ 
                    new Ext.ux.IFrameComponent({ 
                        id: 'gn-panel',
                        url: gnURL 
                    }) 
                ]
            });

            /*
            //
            //Pannello per Geoportale Consorzio LaMMA
            //
            var geoportalPanel = new Ext.Panel({
                id: 'geoportalPanel',
                title: GeoExplorer.prototype.portalTabTitle || 'Geoportal',
                layout:'fit', 
                items: [ 
                    new Ext.ux.IFrameComponent({ 
                        id: 'gp-panel',
                        url: gpURL
                    }) 
                ]
            });
*/

            var appTabs = new Ext.TabPanel({
                //items: [geoportalPanel,geonetworkPanel],
                items: [geonetworkPanel],
                region: 'center',
                border : false,
                id : 'appTabs',
                enableTabScroll: true,
                listeners:{
                    tabchange: function(){
                        if (app){
                            for(var tool in app.tools){            
                                if(app.tools[tool].ptype == "gxp_wmsgetfeatureinfo"){
                                      if (app.tools[tool].popupCache){
                                          for (var popupKey in app.tools[tool].popupCache){
                                              app.tools[tool].popupCache[popupKey].close();
                                          }
                                    }
                                }   
                                if(app.tools[tool].ptype == "gxp_wfsgetgraphs"){
                                      if (app.tools[tool].popupCache){
                                          for (var popupKey in app.tools[tool].popupCache){
                                              app.tools[tool].popupCache[popupKey].close();
                                          }
                                    }
                                }                                  
                            }                           
                        }                
                    }
                }
            });

            var prova = new Ext.Button({
                text: "3KM",
                handler: function(){
                    //addMSLayer("ARW_3KM_RUN12:arw_3km_Wind_20121209T120000000Z:1000.0","arw_3km_Wind_20121209T120000000Z","http://159.213.57.108/geonetwork/","http://159.213.57.108/geoserver/ows?namespace=ARW_3KM_RUN12",true);
                    addMSLayer("ARW_3KM_RUN00:arw_3km_Wind_height_above_ground_20130416T000000000Z","arw_3km_Wind_height_above_ground_20130416T000000000Z","http://159.213.57.108/geonetwork/","http://159.213.57.108/geoserver/ows?namespace=ARW_3KM_RUN00",true);
                    //addMSLayer("GFS_50KM_RUN12:gfs_50km_Temperature_height_above_ground_20130414T120000000Z:2.0","gfs_50km_Temperature_height_above_ground_20130414T120000000Z","http://159.213.57.108/geonetwork/","http://159.213.57.108/geoserver/ows?namespace=GFS_50KM_RUN12",true);
                }
            });
            
            var prova1 = new Ext.Button({
                text: "50KM",
                handler: function(){
                    //addMSLayer("ARW_3KM_RUN12:arw_3km_Wind_20121209T120000000Z:1000.0","arw_3km_Wind_20121209T120000000Z","http://159.213.57.108/geonetwork/","http://159.213.57.108/geoserver/ows?namespace=ARW_3KM_RUN12",true);
                    //addMSLayer("ARW_3KM_RUN00:arw_3km_Temperature_height_above_ground_20130413T000000000Z:2.0","arw_3km_Temperature_height_above_ground_20130413T000000000Z","http://159.213.57.108/geonetwork/","http://159.213.57.108/geoserver/ows?namespace=ARW_3KM_RUN00",true);
                    addMSLayer("GFS_50KM_RUN00:gfs_50km_Wind_height_above_ground_20130417T000000000Z","gfs_50km_Wind_height_above_ground_20130417T000000000Z","http://159.213.57.108/geonetwork/","http://159.213.57.108/geoserver/ows?namespace=GFS_50KM_RUN00",true);
                }
            }); 
            
            var aboutButton = new Ext.Button({
                text: GeoExplorer.prototype.appInfoText,
                iconCls: "icon-geoexplorer",
                handler: function(){
                    var appInfo = new Ext.Panel({
                        header: false,
                        html: "<iframe style='border: none; height: 100%; width: 100%' src='../about.html' frameborder='0' border='0'><a target='_blank' href='../about.html'>" + GeoExplorer.prototype.aboutText+"</a> </iframe>"
                    });

                    var win = new Ext.Window({
                        title:  GeoExplorer.prototype.aboutThisMapText,
                        modal: true,
                        layout: "fit",
                        width: 355,
                        height: 268,
                        items: [appInfo]
                    });
                    
                    win.show();
                }
            });

            var appViewport = new Ext.Viewport({
                id: 'appVieport',
                layout: 'border',
                margins: '0 0 0 0 ',
                items: [{
                        id:'main-header',
                        region: 'north',
                        border: false,
                        height: 90,
                        hideCollapseTool: true,
                        collapsible : false,
                        collapsed: false,
                        collapseMode: 'mini',
                        split: true,
                        /*html:  [
                            '<div align="center" style="background-color:#222b43;">',
                                '<img  width="220" src="/theme/app/img/banner/logo.png" style="float:left" usemap="#IM_left-banner"/>',
                                '<img  src="/theme/app/img/banner/GeoPortale_title.png" style="float:right;position:absolute;top:10px;right:450px;" usemap="#IM_right-banner"/>',
                            '</div>'],*/
                        html:   [
                                '<table width="100%">'+
                                    '<tr>'+
                                        '<td width="40%">'+
                                            '<a href="http://www.lamma.rete.toscana.it" target="_blank" title="Consorzio LaMMA Home page">'+
                                                '<img width="220" src="/theme/app/img/banner/logo.png"/>'+
                                            '</a>'+
                                        '</td>'+/*
                                        '<td width="30%">'+
                                            '<a >'+
                                                '<img width="220" src="/theme/app/img/banner/GeoPortale_title.png"/>'+
                                            '</a>'+
                                        '</td>'+                                        
                                        '<td>'+
                                            '<div id="run1" style="color: white;" align="left"></div>'+
                                            '<div id="run2" style="color: white;" align="left"></div>'+
                                            '<div id="run3" style="color: white;" align="left"></div>'+
                                            '<div id="run4" style="color: white;" align="left"></div>'+
                                        '</td>'+*/
                                    '</tr>'+
                                '</table>'
                                ],
                        bodyStyle: 'padding:0px;background-color: #222b43;'
                    },{
                        region : 'center',
                        layout : 'border',
                        border : false,
                        header : false,                    
                        items : [appTabs],                            
                        bbar : [
                            //aboutButton, '->',languageSelector
                            prova, "-",prova1, aboutButton, '->',languageSelector
                        ]
                    }]
            });
            
            //
            // Parsing WMS servers Sources for getCapabilities operation
            //
            var sources = "{" + 
                 "\"LaMMA_Stazioni\": {" +
                        "\"ptype\": \"gxp_wmssource\"," +
                        "\"url\":\"http://159.213.57.108/geoserver/ows?namespace=lamma_stazioni\"," +                
                        "\"title\": \"LaMMA Stazioni\"" +

                "}," +               
                 "\"LaMMA_confini\": {" +
                        "\"ptype\": \"gxp_wmssource\"," +
                        "\"url\":\"http://159.213.57.108/geoserver/gwc/service/wms\"," +                
                        "\"title\": \"LaMMA Confini\"" +

                "}," +                
                "\"mapquest\": {" +
                    "\"ptype\": \"gxp_mapquestsource\"" +
                "}," + 
                "\"osm\": {" + 
                    "\"ptype\": \"gxp_osmsource\"" +
                "}," +
                "\"google\": {" +
                    "\"ptype\": \"gxp_googlesource\"" + 
                "}," +
                "\"bing\": {" +
                    "\"ptype\": \"gxp_bingsource\"" + 
                "}," + 
                "\"ol\": {" + 
                    "\"ptype\": \"gxp_olsource\"" + 
                "}"; 
            
            if(customSources.length > 0)
                sources += ",";
                
            for(var s=0; s<customSources.length; s++){ 
                var src = Ext.util.JSON.encode(customSources[s]);
                sources += "\"source" + s + "\":" + src;
                 
                 if(s + 1 < customSources.length)
                    sources += ",";
            }
             
            sources +="}";

            try{
                sources = Ext.util.JSON.decode(sources);
            }catch(e){
                sources = {
                    mapquest: {
                        ptype: "gxp_mapquestsource"
                    },
                    osm: {
                        ptype: "gxp_osmsource"
                    },
                    google: {
                        ptype: "gxp_googlesource"
                    },
                    bing: {
                        ptype: "gxp_bingsource"
                    },
                    ol: {
                        ptype: "gxp_olsource"
                    },
                    LaMMA_Stazioni:{
                        ptype: "gxp_wmssource",
                        layerBaseParams:{
                            TILED:false,
                            TILESORIGIN: "-20037508.34,-20037508.34"
                        },
                        url:"http://159.213.57.108/geoserver/ows?namespace=lamma_stazioni"
                    }
                };
          
                Ext.Msg.show({
                      title: "Startup",
                      msg: "An error occurred while parsing the CUSTOM GeoServer sources",
                      buttons: Ext.Msg.OK,
                      icon: Ext.MessageBox.ERROR
                });
            }
                                    
            app = new GeoExplorer.Composer({
                modified: false,
                proxy: proxy,
                xmlJsonTranslateService: "http://demo1.geo-solutions.it/xmlJsonTranslate/",
                defaultSourceType: "gxp_wmssource",
                renderToTab : 'appTabs',
                appType: serverConfig.appType,                
                about: {
                    title: "Custom Map",
                    'abstract': "Custom Map",
                    contact: "<a href='#'>#</a>."
                },
                sources: sources,
                map: {
                    projection: "EPSG:900913",
                    units: "m",
                    maxExtent: [
                        -20037508.34, -20037508.34,
                        20037508.34, 20037508.34
                    ],
                    layers: [
                    {
                       "fixed":true,
                       "group":"background",
                       "name":"Aerial",
                       "selected":false,
                       "source":"bing",
                       "title":"Bing Aerial",
                       "visibility":false
                    },
                    {
                       "fixed":true,
                       "group":"background",
                       "name":"mapnik",
                       "selected":false,
                       "source":"osm",
                       "title":"Open Street Map",
                       "visibility":false
                    },
                    {
                       "fixed":true,
                       "group":"background",
                       "name":"osm",
                       "selected":false,
                       "source":"mapquest",
                       "title":"MapQuest OpenStreetMap",
                       "visibility":false
                    },
                    {
                       "fixed":true,
                       "group":"background",
                       "name":"ROADMAP",
                       "selected":false,
                       "source":"google",
                       "title":"Google Roadmap",
                       "visibility":false
                    },
                    {
                       "fixed":true,
                       "group":"background",
                       "name":"TERRAIN",
                       "opacity":1,
                       "selected":false,
                       "source":"google",
                       "title":"Google Terrain",
                       "visibility":true
                    },
                    {
                       "fixed":true,
                       "group":"background",
                       "name":"HYBRID",
                       "selected":false,
                       "source":"google",
                       "title":"Google Hybrid",
                       "visibility":false
                    },{
                        "source": "ol",
                        "group": "background",
                        "fixed": true,
                        "type": "OpenLayers.Layer",
                        "visibility": false,
                        "args": [
                            "None", {"visibility": false}
                        ]
                    },{
                       "format":"image/png",
                       "group": "Limiti Mondiali",
                       "name":"lamma:confini_mondiali",
                       "selected":false,                   
                       "source":"LaMMA_confini", 
                       "styles":["confini"],
                       "style":["confini"],
                       "title":"Confini",
                       "transparent":true,
                       "visibility":true,
                       "ratio":1,
                       "srs":"EPSG:900913",
                       "queryable": false,
                       "displayInLayerSwitcher": true,
                    },{
                       "format":"image/png8",
                       "group":"Stazioni",
                       "name":"lamma_stazioni:prec60_web",
                       "opacity":0.9,
                       "buffer": 2,
                       "selected":false,
                       "tiled":false,
                       "source":"LaMMA_Stazioni", 
                       "styles":["heatmap_pioggia"],
                       "style":["pioggia"],
                       "title":"Pioggia oraria",
                       "transparent":true,
                       "visibility":true,
                       "ratio":1,
                       "srs":"EPSG:900913",
                       "getGraph": true,
                       "graphTable": "prec60_web",
                       "graphAttribute": "prec_mm",
                       "cumulative": true,                        
                       "elevation":"0.0"
                    },{
                       "format":"image/png8",
                       "group":"Stazioni",
                       "name":"lamma_stazioni:prec360_web",
                       "opacity":0.9,
                       "selected":false,
                       "tiled":false,                       
                       "source":"LaMMA_Stazioni", 
                       "styles":["heatmap_pioggia"],
                       "style":["pioggia"],
                       "title":"Pioggia 6 ore",
                       "transparent":true,
                       "visibility":false,
                       "ratio":1,
                       "srs":"EPSG:900913",
                       "getGraph": true,
                       "graphTable": "prec360_web",
                       "graphAttribute": "prec_mm",
                       "cumulative": true, 
                       "elevation":"0.0"
                    },{
                       "format":"image/png8",
                       "group":"Stazioni",
                       "name":"lamma_stazioni:temparia_web",
                       "opacity":0.9,
                       "selected":false,
                       "tiled":false,                       
                       "source":"LaMMA_Stazioni", 
                       "styles":["temperatura"],
                       "style":["temperatura_legend"],
                       "title":"Temperatura oraria",
                       "transparent":true,
                       "visibility":false,
                       "ratio":1,
                       "srs":"EPSG:900913",
                       "getGraph": true,
                       "graphTable": "temparia_web",
                       "graphAttribute": "temp_c",
                       "cumulative": false,                        
                       "elevation":"0.0"
                    },{
                       "format":"image/png8",
                       "group":"Stazioni",
                       "name":"lamma_stazioni:pres_web",
                       "opacity":0.9,
                       "selected":false,
                       "tiled":false,                       
                       "source":"LaMMA_Stazioni", 
                       "styles":["pressione"],
                       "style":["pressione"],
                       "title":"Pressione oraria",
                       "transparent":true,
                       "visibility":false,
                       "ratio":1,
                       "srs":"EPSG:900913",
                       "getGraph": true,
                       "graphTable": "pres_web",
                       "graphAttribute": "pres_hpa",
                       "cumulative": false,                        
                       "elevation":"0.0"
                    },{
                       "format":"image/png8",
                       "group":"Stazioni",
                       "name":"lamma_stazioni:umid_web",
                       "opacity":0.9,
                       "selected":false,
                       "tiled":false,                       
                       "source":"LaMMA_Stazioni", 
                       "styles":["umidita"],
                       "style":["umidita"],
                       "title":"Umidita oraria",
                       "transparent":true,
                       "visibility":false,
                       "ratio":1,
                       "srs":"EPSG:900913",
                       "getGraph": true,
                       "graphTable": "umid_web",
                       "graphAttribute": "umid_per",                       
                       "elevation":"0.0"
                    },{
                       "format":"image/png8",
                       "group":"Stazioni",
                       "name":"lamma_stazioni:umid_web",
                       "opacity":0.9,
                       "selected":false,
                       "tiled":false,                       
                       "source":"LaMMA_Stazioni", 
                       "styles":["temp_rugiada_legend"],
                       "style":["temp_rugiada_legend"],
                       "title":"Temp rugiada oraria",
                       "transparent":true,
                       "visibility":false,
                       "ratio":1,
                       "srs":"EPSG:900913",
                       "getGraph": true,
                       "graphTable": "umid_web",
                       "graphAttribute": "trug_c",                       
                       "elevation":"0.0"
                    },{
                       "format":"image/png8",
                       "group":"Stazioni",
                       "name":"lamma_stazioni:vent_web",
                       "opacity":0.9,
                       "selected":false,
                       "tiled":false,                       
                       "source":"LaMMA_Stazioni", 
                       "styles":["vento"],
                       "style":["vento"],
                       "title":"Vento",
                       "transparent":true,
                       "visibility":false,
                       "ratio":1,
                       "srs":"EPSG:900913",
                       "getGraph": true,
                       "graphTable": "vent_web",
                       "graphAttribute": "vven_ms",
                       "elevation":"0.0"
                    }],
                    center: [1250000.000000, 5375000.000000],
                    zoom: 7
                }
            }, mapIdentifier, authorization, fullScreen);   
            
            app.on({
                'portalready' : function(){
                    if(fullScreen){
                        var ovestPanel = Ext.getCmp('tree').findParentByType('panel');
                        ovestPanel.setDisabled();
                        ovestPanel.hide();
                        ovestPanel.collapse();
                    }


                },
                'ready': function(){
                        
                        //
                        // Visualizing metadata tab and layer at startup
                        //
                        
                        if(lay && wmsurl && gnBaseUrl && uuid)
                        addMSLayer(lay, uuid, gnBaseUrl, wmsurl, false);
                    
                        if(lay && gnBaseUrl && uuid){
                            app.viewMetadata(gnBaseUrl + "srv/" + gnLangStr + "/", uuid, lay);
                            appTabs.setActiveTab(2);	
                        }                        
                }
            });

            addMSLayerRecord = function(source, sourceId, msLayerName, msLayerUUID, gnUrl, enableViewTab){
                  var layerString = msLayerName.split(":");
                  var styles;
                  var style;
                  
                  if((layerString[1].indexOf("Wind") != -1) && (layerString[1].indexOf("gfs") != -1)){
                        styles = "wind_arrow_palette_gfs";
                        style = "wind_arrow_palette_raster_gfs"; 
                  }
                  else if ((layerString[1].indexOf("Wind") != -1) && (layerString[1].indexOf("arw") != -1)){
                        styles = "wind_arrow_palette";
                        style = "wind_arrow_palette_raster";                         
                  }else{
                        styles = layerString[1].substring(0,layerString[1].lastIndexOf("_")) + "_" + layerString[2];                                     
                        style = layerString[1].substring(0,layerString[1].lastIndexOf("_")) + "_" + layerString[2];                                     
                  }

				  var record = source.createLayerRecord({
					name: layerString[0] + ":" + layerString[1],
					title: layerString[2] ? layerString[1] + ":" + layerString[2] : layerString[1],
                    elevation: layerString[2] ? layerString[2] : "",
                    //styles: layerString[2] ? [styles] : [],
                    //style: layerString[2] ? [style] : [],
                    styles: ((layerString[1].indexOf("Wind") != -1) || layerString[2]) ? [styles] : [],
                    style: ((layerString[1].indexOf("Wind") != -1) || layerString[2]) ? [styles] : [],
					uuid : msLayerUUID,
					gnURL: gnUrl + "srv/" + gnLangStr + "/",
					source: sourceId
				  });  
						  
				  if (record) {
                    if(enableViewTab){
                        appTabs.setActiveTab(1);
                    }
					var layerStore = app.mapPanel.layers;  
					layerStore.add([record]);

					//
					// Zoom To Layer extent
					//
					var layer = record.get('layer');
                    app.mapPanel.map.setLayerIndex(layer, 1);
                    var valTime =  OpenLayers.Date.parse(layer.metadata.timeInterval[0][0]);
                    var valStep =  layer.metadata.timeInterval[0][2];
                    var r = /\d+/g;
                    var s = valStep;
                    var m;
                    while ((m = r.exec(s)) != null) {
                      var step = m[0];
                    }                    
                    var timeManagers = app.mapPanel.map.getControlsByClass('OpenLayers.Control.TimeManager');
                    
                    if (timeManagers[0].range[1] < OpenLayers.Date.parse(layer.metadata.timeInterval[0][1])){
                        timeManagers[0].setEnd(OpenLayers.Date.parse(layer.metadata.timeInterval[0][1]));
                        timeManagers[0].fixedRange=true;
                    }     
                    
                    timeManagers[0].step = step;
                    timeManagers[0].events.triggerEvent("rangemodified");
                    timeManagers[0].fixedRange=true; 

                    timeManagers[0].units = valStep.slice(-1) == "H" ? "Hours" : "Minutes";
                    timeManagers[0].events.triggerEvent("rangemodified");               
                    timeManagers[0].fixedRange=true;
            
                    timeManagers[0].currenttime(valTime,false);             
                    
                    /*var pippo = layer.metadata.timeInterval[0][0].indexOf("T");
                    var ciccio = layer.metadata.timeInterval[0][0].substring(pippo+1,pippo+3);
                    
                    OpenLayers.Util.getElement('run1').innerHTML = "RUN: " + ciccio;
                    OpenLayers.Util.getElement('run2').innerHTML = "Data inizio: " + layer.metadata.timeInterval[0][0];
                    OpenLayers.Util.getElement('run3').innerHTML = "Data fine: " + layer.metadata.timeInterval[0][1];
                    OpenLayers.Util.getElement('run4').innerHTML = "Step: " + layer.metadata.timeInterval[0][2];*/
                    
                    var baseLayer = app.mapPanel.map.getLayersByName("Confini")[0];
                    //app.mapPanel.map.raiseLayer(baseLayer, app.mapPanel.map.layers.length);
                    app.mapPanel.map.setLayerIndex(baseLayer, 7);

					modified = true;                    
					var extent = layer.restrictedExtent || layer.maxExtent || app.mapPanel.map.maxExtent;
					var map = app.mapPanel.map;

					// respect map properties
					var restricted = map.restrictedExtent || map.maxExtent;
					if (restricted) {
						extent = new OpenLayers.Bounds(
							Math.max(extent.left, restricted.left),
							Math.max(extent.bottom, restricted.bottom),
							Math.min(extent.right, restricted.right),
							Math.min(extent.top, restricted.top)
						);
					}

					map.zoomToExtent(extent, true);
				  }
            };

            checkLayerSource = function(wmsURL){

                var source;
				for (var id in app.layerSources) {
					  var src = app.layerSources[id];    
					  var url  = src.initialConfig.url; 
					  //
					  // Checking if source URL aldready exists
					  //
					  if(url && url.indexOf(wmsURL) != -1){
						  source = src;
						  break;
					  }
				} 

                return source;
            };
            
            addMSLayer = function(msLayerName, msLayerUUID, gnUrl, wmsURL, enableViewTab){		

                var source = checkLayerSource(wmsURL);

				if(source){
					addMSLayerRecord(source, source.id, msLayerName, msLayerUUID, gnUrl, enableViewTab);
				}else{
					var mask = new Ext.LoadMask(Ext.getBody(), {msg:"Attendere prego..."});
					mask.show();

					var sourceOpt = {
						config: {
						  url: wmsURL
						}
					};
				  
					source = app.addLayerSource(sourceOpt);
				  
					//
					// Waiting GetCapabilities response from the server.
					//
					source.on('ready', function(){ 
						mask.hide();
						addMSLayerRecord(source, source.id, msLayerName, msLayerUUID, gnUrl, enableViewTab);
					});
				  
					//
					// To manage failure in GetCapabilities request (invalid request url in 
					// GeoNetwork configuration or server error).
					//
					source.on('failure', function(src, msg){		          
						 mask.hide();
						 
						 Ext.Msg.show({
							 title: 'GetCapabilities',
							 msg: msg + " Il layer non può essere aggiunto alla mappa",
							 width: 300,
							 icon: Ext.MessageBox.ERROR
						 });  
					 });
				}
            }; 

	        addMSSource = function(wmsURL){		  
                var source = checkLayerSource(wmsURL);

				if(!source){
                      var mask = new Ext.LoadMask(Ext.getBody(), {msg:"Attendere prego..."});
                      mask.show();

					  var sourceOpt = {
						  config: {
							  url: wmsURL
						  }
					  };
					  
					  source = app.addLayerSource(sourceOpt);
					  
					  //
					  // Waiting GetCapabilities response from the server.
					  //
					  source.on('ready', function(){ 
						  mask.hide();
					  });
					  
					  //
					  // To manage failure in GetCapabilities request (invalid request url in 
					  // GeoNetwork configuration or server error).
					  //
					  source.on('failure', function(src, msg){		          
						  mask.hide();
						  
						  Ext.Msg.show({
							  title: 'GetCapabilities',
							  msg: msg + " Il layer non può essere aggiunto alla mappa",
							  width: 300,
							  icon: Ext.MessageBox.ERROR
						  });  
					  });
				}
			}
      };			
			
      Ext.Ajax.request({
          //url: "/MapStore/urlConfig.js", //TEST
          url: "/urlConfigPublic.js", //TEST
          method: 'GET',
          success: function(response, opts){      
              
              try{
                  serverConfig = Ext.util.JSON.decode(response.responseText);
              }catch(e){
                  Ext.Msg.show({
                        title: "Startup",
                        msg: "An error occurred while parsing the GeoStore URL config: " + response.status,
                        buttons: Ext.Msg.OK,
                        icon: Ext.MessageBox.ERROR
                  });
              }
              
              if(serverConfig){
                  proxy = serverConfig.proxy; 
                  geoStoreBaseURL = serverConfig.geoStoreBase;                  
                  customSources = serverConfig.gsSources;

                  //      
                  // Run the application when browser is ready
                  //
                  Ext.onReady(onReady);
              }
          },
          failure:  function(response, opts){
              Ext.Msg.show({
                    title: "Startup",
                    msg: "An error occurred while getting the GeoStore URL config: " + response.status,
                    buttons: Ext.Msg.OK,
                    icon: Ext.MessageBox.ERROR
              });
          }
      });
        
    </script>